# WEB SCRAPING

In [237]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

# 1) Write a python program to display all the header tags from wikipedia.org.

In [238]:
# defind a variable for link
url = r'https://en.wikipedia.org/wiki/Main_Page'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)


soup = bs(r.content, 'html.parser')

In [239]:
#for_loop run 6 times because 6 headig tag in html
for i in range(1,7):
    print(soup.find_all(f'h{i}'))

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>]
[<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>]
[<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>, <h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span class="vector-menu-heading-label">Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span class="vector-menu-heading-label">More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>, <h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>]
[]
[]
[]

________________________________________________________________________________________________________

# 3) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [240]:
# defind a variable for link
url = r'https://www.imdb.com/india/top-rated-indian-movies/'
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)
soup = bs(r.content,'html.parser')

In [241]:
# Create variable and use td tag of titleColumn class because movie name and year in this class
top_100_movies = soup.find_all('td',class_='titleColumn')
print(top_100_movies[0].text.split('\n')[2].strip())#using slicing then extract text and use strip remove unnecessary space
print(top_100_movies[0].text.split('\n')[3].strip())

Jai Bhim
(2021)

In [242]:
# Created a variable movies_ratings 
# all rating data is in class of td tags so use td tag and class
movies_ratings = soup.find_all('td',class_='ratingColumn imdbRating')
movies_ratings
# movies_ratings[0].text.split('\n')[1]

[<td class="ratingColumn imdbRating">
 <strong title="8.6 based on 160,137 user ratings">8.6</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 19,016 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 14,437 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 19,801 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 6,259 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 7,188 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 10,037 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 18,815 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 13,846 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 6,309 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 32,400 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 6,688 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 12,963 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 20,238 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 10,709 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 29,694 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 10,051 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 104,888 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 13,200 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 373,768 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 23,857 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 20,300 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 183,442 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 11,531 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 19,024 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 26,789 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 32,591 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,470 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 175,236 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 14,363 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 15,416 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,328 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,162 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,808 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 6,142 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 19,009 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 36,834 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,883 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,780 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,458 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 11,847 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 8,174 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,265 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,630 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,246 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,567 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,107 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,084 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 38,768 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 23,296 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,731 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,671 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 38,764 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 19,541 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,407 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 35,001 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 18,959 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,018 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,588 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 9,991 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,002 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,148 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,711 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,388 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 85,346 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,242 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,363 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 91,287 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,068 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 35,254 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,348 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 65,476 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,325 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 63,157 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,099 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 46,295 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 54,145 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 87,778 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,571 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 78,031 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,820 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,915 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 9,930 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 22,742 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,905 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 34,390 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,804 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,000 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,467 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 28,686 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 77,762 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 44,207 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 76,908 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 26,590 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,102 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 78,725 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 25,100 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 64,174 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,524 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 117,128 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 70,248 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 55,982 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 54,081 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 110,236 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 61,202 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 52,164 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 174,517 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 9,243 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,073 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,844 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 16,574 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 79,480 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,961 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,612 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,276 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,496 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 43,117 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,601 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 7,036 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,185 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,180 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,918 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,967 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 45,669 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 110,023 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 21,440 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 82,708 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,635 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,685 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,388 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 13,082 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,621 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,685 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,220 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,630 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,985 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 50,391 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,954 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 52,685 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 67,061 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,186 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,891 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,246 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 21,396 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,125 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 7,567 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,070 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 54,415 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,034 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,200 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 82,542 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 31,917 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,742 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,467 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 30,040 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 19,683 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,467 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,756 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,218 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,330 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 11,181 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 36,498 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 15,153 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 18,700 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 9,836 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,630 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,957 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,869 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 23,561 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 11,259 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,668 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 103,539 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 125,891 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,617 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 15,386 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 66,906 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 50,823 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,029 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,555 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 27,845 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,513 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 11,345 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,679 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,627 user ratings">7.8</strong>

In [243]:
# use slicing to slice data into top_100_movies
# and use for_loop for append all data into list
movie_list = []
year_list = []
rating = []
for i in range(0,100):#for loop run 1 to 101 times
    movie_list.append(top_100_movies[i].text.split('\n')[2].strip())#use strip function for remove unnecessary space
    year_list.append(top_100_movies[i].text.split('\n')[3].strip())
    rating.append(movies_ratings[i].text.split('\n')[1])

In [244]:
# Use pandas for all list data to Dataframe 
# use pandas DataFrame function
dataframe = pd.DataFrame({'Movies Name':movie_list,'Movie Rating':rating,'year of release':year_list,})
dataframe
# print(dataframe)

            Movies Name Movie Rating year of release
0              Jai Bhim          8.6          (2021)
1               Nayakan          8.5          (1987)
2     Pariyerum Perumal          8.5          (2018)
3            Anbe Sivam          8.5          (2003)
4     C/o Kancharapalem          8.5          (2018)
..                  ...          ...             ...
95  Munna Bhai M.B.B.S.          8.1          (2003)
96            Sarfarosh          8.1          (1999)
97                Queen          8.1          (2013)
98                 Roja          8.1          (1992)
99      Rang De Basanti          8.1          (2006)

[100 rows x 3 columns]

________________________________________________________________________________________________________

# 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame

In [245]:
# defind a variable for link
url = r'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)


soup = bs(r.content, 'html.parser')

In [246]:
# create variable top_100_movies and use he tage because movies name and year data in h3 tags
top_100_movies = soup.find_all('h3')#all h3 tags is in variables
top_100_movies #movies name and year all data in list 
# use slice and extract text data -
print(top_100_movies[0].text.split('\n'))
# after that split data using new line and then use slice to extract movie name and year like this -
print(top_100_movies[0].text.split('\n')[2])#movie name
print(top_100_movies[0].text.split('\n')[3])#year

['', '1.', 'The Shawshank Redemption', '(1994)', '']
The Shawshank Redemption
(1994)

In [247]:
# create 2 list variable 
movies_list = []
year_list = []
# using for_loop and loop run top_100_movies of len times
for i in range(len(top_100_movies)-1):#last value is blank in list so use -1
    movies_list.append(top_100_movies[i].text.split('\n')[2])
    year_list.append(top_100_movies[i].text.split('\n')[3])

print(f'{movies_list}\n\n{year_list}')

['The Shawshank Redemption', 'The Godfather', 'Spider-Man: No Way Home', 'The Dark Knight', 'The Godfather: Part II', '12 Angry Men', 'The Lord of the Rings: The Return of the King', 'Pulp Fiction', "Schindler's List", 'Inception', 'Fight Club', 'The Lord of the Rings: The Fellowship of the Ring', 'Forrest Gump', 'Il buono, il brutto, il cattivo', 'The Lord of the Rings: The Two Towers', 'The Matrix', 'Goodfellas', 'Star Wars: Episode V - The Empire Strikes Back', "One Flew Over the Cuckoo's Nest", 'Gisaengchung', 'Interstellar', 'Cidade de Deus', 'Sen to Chihiro no kamikakushi', 'Saving Private Ryan', 'The Green Mile', 'La vita è bella', 'Se7en', 'The Silence of the Lambs', 'Star Wars', 'Seppuku', 'Shichinin no samurai', "It's a Wonderful Life", 'Whiplash', 'The Intouchables', 'The Prestige', 'The Departed', 'The Pianist', 'Gladiator', 'American History X', 'The Usual Suspects', 'Léon', 'The Lion King', 'Terminator 2: Judgment Day', 'Nuovo Cinema Paradiso', 'Hotaru no haka', 'Back to the Future', 'Once Upon a Time in the West', 'Psycho', 'Rear Window', 'Casablanca']

['(1994)', '(1972)', '(2021)', '(2008)', '(1974)', '(1957)', '(2003)', '(1994)', '(1993)', '(2010)', '(1999)', '(2001)', '(1994)', '(1966)', '(2002)', '(1999)', '(1990)', '(1980)', '(1975)', '(2019)', '(2014)', '(2002)', '(2001)', '(1998)', '(1999)', '(1997)', '(1995)', '(1991)', '(1977)', '(1962)', '(1954)', '(1946)', '(2014)', '(2011)', '(2006)', '(2006)', '(2002)', '(2000)', '(1998)', '(1995)', '(1994)', '(1994)', '(1991)', '(1988)', '(1988)', '(1985)', '(1968)', '(1960)', '(1954)', '(1942)']

In [248]:
# create list variable and use strong tags and remove  2text in list using slicing
rating_data = soup.find_all('strong')[2:]
# all rating data in rating_list
# use slice then extract text like this - 
print(rating_data[0].text)

# crate list variable
rating_list = []
# Using loop add all data into rating_list variable 
for i in range(len(rating_data)):
    rating_list.append(rating_data[i].text)

9.3

In [249]:
# use pandas all list conver to data frame 
first_data_frame = pd.DataFrame({'Movies Name':movies_list,'Rating':rating_list,'year of release':year_list})
first_data_frame

                                          Movies Name Rating year of release
0                            The Shawshank Redemption    9.3          (1994)
1                                       The Godfather    9.2          (1972)
2                             Spider-Man: No Way Home    9.0          (2021)
3                                     The Dark Knight    9.0          (2008)
4                              The Godfather: Part II    9.0          (1974)
5                                        12 Angry Men    9.0          (1957)
6       The Lord of the Rings: The Return of the King    8.9          (2003)
7                                        Pulp Fiction    8.9          (1994)
8                                    Schindler's List    8.9          (1993)
9                                           Inception    8.8          (2010)
10                                         Fight Club    8.8          (1999)
11  The Lord of the Rings: The Fellowship of the Ring    8.8          (2001)
12                                       Forrest Gump    8.8          (1994)
13                    Il buono, il brutto, il cattivo    8.8          (1966)
14              The Lord of the Rings: The Two Towers    8.7          (2002)
15                                         The Matrix    8.7          (1999)
16                                         Goodfellas    8.7          (1990)
17     Star Wars: Episode V - The Empire Strikes Back    8.7          (1980)
18                    One Flew Over the Cuckoo's Nest    8.7          (1975)
19                                       Gisaengchung    8.6          (2019)
20                                       Interstellar    8.6          (2014)
21                                     Cidade de Deus    8.6          (2002)
22                      Sen to Chihiro no kamikakushi    8.6          (2001)
23                                Saving Private Ryan    8.6          (1998)
24                                     The Green Mile    8.6          (1999)
25                                    La vita è bella    8.6          (1997)
26                                              Se7en    8.6          (1995)
27                           The Silence of the Lambs    8.6          (1991)
28                                          Star Wars    8.6          (1977)
29                                            Seppuku    8.6          (1962)
30                               Shichinin no samurai    8.6          (1954)
31                              It's a Wonderful Life    8.6          (1946)
32                                           Whiplash    8.5          (2014)
33                                   The Intouchables    8.5          (2011)
34                                       The Prestige    8.5          (2006)
35                                       The Departed    8.5          (2006)
36                                        The Pianist    8.5          (2002)
37                                          Gladiator    8.5          (2000)
38                                 American History X    8.5          (1998)
39                                 The Usual Suspects    8.5          (1995)
40                                               Léon    8.5          (1994)
41                                      The Lion King    8.5          (1994)
42                         Terminator 2: Judgment Day    8.5          (1991)
43                              Nuovo Cinema Paradiso    8.5          (1988)
44                                     Hotaru no haka    8.5          (1988)
45                                 Back to the Future    8.5          (1985)
46                       Once Upon a Time in the West    8.5          (1968)
47                                             Psycho    8.5          (1960)
48                                        Rear Window    8.5          (1954)
49                                         Casablanca    8.5          (1942)

In [250]:
# 1page in only 50 data

In [251]:
# 2nd page url
url = r'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt'
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)


soup = bs(r.content, 'html.parser')

In [252]:
# create variable top_100_movies and use he tage because movies name and year data in h3 tags
top_100_movies = soup.find_all('h3')#all h3 tags is in variables
top_100_movies #movies name and year all data in list 
# use slice and extract text data -
print(top_100_movies[0].text.split('\n'))
# after that split data using new line and then use slice to extract movie name and year like this -
print(top_100_movies[0].text.split('\n')[2])#movie name
print(top_100_movies[0].text.split('\n')[3])#year

['', '51.', 'Modern Times', '(1936)', '']
Modern Times
(1936)

In [253]:
# create 2 list variable 
movies_list = []
year_list = []
# using for_loop and loop run top_100_movies of len times
for i in range(len(top_100_movies)-1):#last value is blank in list so use -1
    movies_list.append(top_100_movies[i].text.split('\n')[2])
    year_list.append(top_100_movies[i].text.split('\n')[3])

print(f'{movies_list}\n\n{year_list}')

['Modern Times', 'City Lights', 'Hamilton', 'Capharnaüm', 'Joker', 'Kimi no na wa.', 'Spider-Man: Into the Spider-Verse', 'Avengers: Endgame', 'Avengers: Infinity War', 'Coco', 'Django Unchained', 'The Dark Knight Rises', '3 Idiots', 'Taare Zameen Par', 'WALL·E', 'The Lives of Others', 'Oldeuboi', 'Memento', 'Mononoke-hime', 'Raiders of the Lost Ark', 'The Shining', 'Apocalypse Now', 'Alien', 'Tengoku to jigoku', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Witness for the Prosecution', 'Paths of Glory', 'Sunset Blvd.', 'The Great Dictator', 'Jagten', 'Inglourious Basterds', 'Eternal Sunshine of the Spotless Mind', 'Requiem for a Dream', 'American Beauty', 'Good Will Hunting', 'Toy Story', 'Braveheart', 'Reservoir Dogs', 'Idi i smotri', 'Aliens', 'Once Upon a Time in America', 'Amadeus', 'Star Wars: Episode VI - Return of the Jedi', 'Das Boot', '2001: A Space Odyssey', 'North by Northwest', 'Vertigo', "Singin' in the Rain", 'Citizen Kane', 'M - Eine Stadt sucht einen Mörder']

['(1936)', '(1931)', '(2020)', '(2018)', '(2019)', '(2016)', '(2018)', '(2019)', '(2018)', '(I) (2017)', '(2012)', '(2012)', '(2009)', '(2007)', '(2008)', '(2006)', '(2003)', '(2000)', '(1997)', '(1981)', '(1980)', '(1979)', '(1979)', '(1963)', '(1964)', '(1957)', '(1957)', '(1950)', '(1940)', '(2012)', '(2009)', '(2004)', '(2000)', '(1999)', '(1997)', '(1995)', '(1995)', '(1992)', '(1985)', '(1986)', '(1984)', '(1984)', '(1983)', '(1981)', '(1968)', '(1959)', '(1958)', '(1952)', '(1941)', '(1931)']

In [254]:
# create 2 list variable 
movies_list = []
year_list = []
# using for_loop and loop run top_100_movies of len times
for i in range(len(top_100_movies)-1):#last value is blank in list so use -1
    movies_list.append(top_100_movies[i].text.split('\n')[2])
    year_list.append(top_100_movies[i].text.split('\n')[3])

print(f'{movies_list}\n\n{year_list}')

['Modern Times', 'City Lights', 'Hamilton', 'Capharnaüm', 'Joker', 'Kimi no na wa.', 'Spider-Man: Into the Spider-Verse', 'Avengers: Endgame', 'Avengers: Infinity War', 'Coco', 'Django Unchained', 'The Dark Knight Rises', '3 Idiots', 'Taare Zameen Par', 'WALL·E', 'The Lives of Others', 'Oldeuboi', 'Memento', 'Mononoke-hime', 'Raiders of the Lost Ark', 'The Shining', 'Apocalypse Now', 'Alien', 'Tengoku to jigoku', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Witness for the Prosecution', 'Paths of Glory', 'Sunset Blvd.', 'The Great Dictator', 'Jagten', 'Inglourious Basterds', 'Eternal Sunshine of the Spotless Mind', 'Requiem for a Dream', 'American Beauty', 'Good Will Hunting', 'Toy Story', 'Braveheart', 'Reservoir Dogs', 'Idi i smotri', 'Aliens', 'Once Upon a Time in America', 'Amadeus', 'Star Wars: Episode VI - Return of the Jedi', 'Das Boot', '2001: A Space Odyssey', 'North by Northwest', 'Vertigo', "Singin' in the Rain", 'Citizen Kane', 'M - Eine Stadt sucht einen Mörder']

['(1936)', '(1931)', '(2020)', '(2018)', '(2019)', '(2016)', '(2018)', '(2019)', '(2018)', '(I) (2017)', '(2012)', '(2012)', '(2009)', '(2007)', '(2008)', '(2006)', '(2003)', '(2000)', '(1997)', '(1981)', '(1980)', '(1979)', '(1979)', '(1963)', '(1964)', '(1957)', '(1957)', '(1950)', '(1940)', '(2012)', '(2009)', '(2004)', '(2000)', '(1999)', '(1997)', '(1995)', '(1995)', '(1992)', '(1985)', '(1986)', '(1984)', '(1984)', '(1983)', '(1981)', '(1968)', '(1959)', '(1958)', '(1952)', '(1941)', '(1931)']

In [255]:
Second_data_frame = pd.DataFrame({'Movies Name':movies_list,'Rating':rating_list,'year of release':year_list})
Second_data_frame

                                          Movies Name Rating year of release
0                                        Modern Times    9.3          (1936)
1                                         City Lights    9.2          (1931)
2                                            Hamilton    9.0          (2020)
3                                          Capharnaüm    9.0          (2018)
4                                               Joker    9.0          (2019)
5                                      Kimi no na wa.    9.0          (2016)
6                   Spider-Man: Into the Spider-Verse    8.9          (2018)
7                                   Avengers: Endgame    8.9          (2019)
8                              Avengers: Infinity War    8.9          (2018)
9                                                Coco    8.8      (I) (2017)
10                                   Django Unchained    8.8          (2012)
11                              The Dark Knight Rises    8.8          (2012)
12                                           3 Idiots    8.8          (2009)
13                                   Taare Zameen Par    8.8          (2007)
14                                             WALL·E    8.7          (2008)
15                                The Lives of Others    8.7          (2006)
16                                           Oldeuboi    8.7          (2003)
17                                            Memento    8.7          (2000)
18                                      Mononoke-hime    8.7          (1997)
19                            Raiders of the Lost Ark    8.6          (1981)
20                                        The Shining    8.6          (1980)
21                                     Apocalypse Now    8.6          (1979)
22                                              Alien    8.6          (1979)
23                                  Tengoku to jigoku    8.6          (1963)
24  Dr. Strangelove or: How I Learned to Stop Worr...    8.6          (1964)
25                        Witness for the Prosecution    8.6          (1957)
26                                     Paths of Glory    8.6          (1957)
27                                       Sunset Blvd.    8.6          (1950)
28                                 The Great Dictator    8.6          (1940)
29                                             Jagten    8.6          (2012)
30                               Inglourious Basterds    8.6          (2009)
31              Eternal Sunshine of the Spotless Mind    8.6          (2004)
32                                Requiem for a Dream    8.5          (2000)
33                                    American Beauty    8.5          (1999)
34                                  Good Will Hunting    8.5          (1997)
35                                          Toy Story    8.5          (1995)
36                                         Braveheart    8.5          (1995)
37                                     Reservoir Dogs    8.5          (1992)
38                                       Idi i smotri    8.5          (1985)
39                                             Aliens    8.5          (1986)
40                        Once Upon a Time in America    8.5          (1984)
41                                            Amadeus    8.5          (1984)
42         Star Wars: Episode VI - Return of the Jedi    8.5          (1983)
43                                           Das Boot    8.5          (1981)
44                              2001: A Space Odyssey    8.5          (1968)
45                                 North by Northwest    8.5          (1959)
46                                            Vertigo    8.5          (1958)
47                                Singin' in the Rain    8.5          (1952)
48                                       Citizen Kane    8.5          (1941)
49                  M - Eine Stadt sucht einen Mörder    8.5          (1931)

In [256]:
Top_100_movie =pd.concat([first_data_frame,Second_data_frame],axis=0,)#join 2 data frame using pandas concat function
Top_100_movie.reset_index(inplace = True, drop = True)#reset index num using pandas reset functiin

In [257]:
print('''####################
#  Top 100 Movies  #
####################\n''')
Top_100_movie

####################
#  Top 100 Movies  #
####################

                          Movies Name Rating year of release
0            The Shawshank Redemption    9.3          (1994)
1                       The Godfather    9.2          (1972)
2             Spider-Man: No Way Home    9.0          (2021)
3                     The Dark Knight    9.0          (2008)
4              The Godfather: Part II    9.0          (1974)
..                                ...    ...             ...
95                 North by Northwest    8.5          (1959)
96                            Vertigo    8.5          (1958)
97                Singin' in the Rain    8.5          (1952)
98                       Citizen Kane    8.5          (1941)
99  M - Eine Stadt sucht einen Mörder    8.5          (1931)

[100 rows x 3 columns]

________________________________________________________________________________________________________

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [258]:
# defind a variable for link
url = r'https://meesho.com/bagsladies/pl/p7vbp'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)


soup = bs(r.content, 'html.parser')

In [259]:
# product name in p tags
soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0')# find_all p tags

[<p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Elegant Attractive Women Handbags</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->985</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book"> Jute Tote Bags,Women Hand bag Eco Friendly Jute Bags,Lunch Box Bags Natural Color Printed Foldable Jute Bags with Zip(Landscape)</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->215</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹64 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Trendy and Stylish Artificial Leather  golden Colour Shoulder Hand Bag for Women and Girls for Party and Wedding</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->383</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Handbags </p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->334</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Trendy Fashionable Women Handbags </p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->884</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Jute handbag</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->150</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹45 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">STYLISH WOMEN HANDBAG</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->299</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹89 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Handbag</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->284</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹85 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Ladies Hand Bag For Women Stylish</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->332</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹99 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">New latest and trending black handbag combo for women</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->465</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Handbags</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->684</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Graceful Stylish Women Handbags</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->2598</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">3piss jwellery kit / shaving kitt / makup kit</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->284</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹85 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Women's Handbag in shoulder bag for women</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->393</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">New latest and voguish Maroon new design with Maroon small backpack handbag combo for women 2</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->465</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">WOMAN HANDBAG</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->883</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Brown color Exclusive and Stylish Handbag for Girls for Teachers / College / Fund / Study / Office use</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->434</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Handbag</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->540</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" color="greyT2" font-size="16px" font-weight="book">Handbag</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy" color="greyT2" font-size="16px" font-weight="book">₹<!-- -->395</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm" color="greyT1" font-size="16px" font-weight="book">₹100 discount on 1st order</p>,
 <p class="Text__StyledText-sc-oo0kvp-0 cQRPhZ" color="greyT1" font-size="18px" font-weight="book">Trusted by more than 1 Crore Indians<br>Cash on Delivery | Free Delivery</br></p>]

In [260]:
print(soup.find_all('p')[0].text)#using slicing to slice product name price and discount then extract text in slicing
print(soup.find_all('p')[1].text)#price
print(soup.find_all('p')[2].text)#Discount

Elegant Attractive Women Handbags
₹985
₹100 discount on 1st order

In [261]:
# create list variable
product_list = []#for product list 
discount_list=[]#for discount list 
count = 0
# count class of p tag and for_loop run 
for i in range(0,len(soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0'))):
    if count<len(soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0')):#use if condition to check count variable no greater then tags
        product_list.append(soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0')[count].text)#scrape product list using slicing
        discount_list.append(soup.find_all('p',class_='Text__StyledText-sc-oo0kvp-0')[count-1].text)#scrape discount list using slicing
    count +=3 # add 3 because procud name gap 3 times 
product_list = product_list[:-1]#using slicing for remove last text
discount_list = discount_list[1:]#using slicing for remove 1st text

In [262]:
#create list variable and use h5 heading  tag beuause all price data in h5 heading  tags
price_data = soup.find_all('h5')

In [263]:
price_list = []#create list variable
#for_loop run price data len 
for i in range(len(price_data)):
    price_list.append(price_data[i].text)#all data add in list using for_loop 
price_list

['₹885',
 '₹151',
 '₹283',
 '₹234',
 '₹784',
 '₹105',
 '₹210',
 '₹199',
 '₹233',
 '₹365',
 '₹584',
 '₹2498',
 '₹199',
 '₹293',
 '₹365',
 '₹783',
 '₹334',
 '₹440',
 '₹295']

In [264]:
print(f'Product list- \n{product_list}\n\n Product price list- \n{price_list}\n\n Product discount list-\n{discount_list}')

Product list-
['Elegant Attractive Women Handbags', ' Jute Tote Bags,Women Hand bag Eco Friendly Jute Bags,Lunch Box Bags Natural Color Printed Foldable Jute Bags with Zip(Landscape)', 'Trendy and Stylish Artificial Leather  golden Colour Shoulder Hand Bag for Women and Girls for Party and Wedding', 'Handbags ', 'Trendy Fashionable Women Handbags ', 'Jute handbag', 'STYLISH WOMEN HANDBAG', 'Handbag', 'Ladies Hand Bag For Women Stylish', 'New latest and trending black handbag combo for women', 'Handbags', 'Graceful Stylish Women Handbags', '3piss jwellery kit / shaving kitt / makup kit', "Women's Handbag in shoulder bag for women", 'New latest and voguish Maroon new design with Maroon small backpack handbag combo for women 2', 'WOMAN HANDBAG', 'Brown color Exclusive and Stylish Handbag for Girls for Teachers / College / Fund / Study / Office use', 'Handbag', 'Handbag']

 Product price list-
['₹885', '₹151', '₹283', '₹234', '₹784', '₹105', '₹210', '₹199', '₹233', '₹365', '₹584', '₹2498', '₹199', '₹293', '₹365', '₹783', '₹334', '₹440', '₹295']

 Product discount list-
['₹100 discount on 1st order', '₹64 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹45 discount on 1st order', '₹89 discount on 1st order', '₹85 discount on 1st order', '₹99 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹85 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order', '₹100 discount on 1st order']

In [265]:
print('''############################################
#     product name, price and discounts    #
############################################''')
pd.DataFrame({"Product list":product_list,"Product price list":price_list,"Product discount list":discount_list})

############################################
#     product name, price and discounts    #
############################################

,Product list,Product price list,Product discount list
0,Elegant Attractive Women Handbags,₹885,₹100 discount on 1st order
1,"Jute Tote Bags,Women Hand bag Eco Friendly Ju...",₹151,₹64 discount on 1st order
2,Trendy and Stylish Artificial Leather golden ...,₹283,₹100 discount on 1st order
3,Handbags,₹234,₹100 discount on 1st order
4,Trendy Fashionable Women Handbags,₹784,₹100 discount on 1st order
5,Jute handbag,₹105,₹45 discount on 1st order
6,STYLISH WOMEN HANDBAG,₹210,₹89 discount on 1st order
7,Handbag,₹199,₹85 discount on 1st order
8,Ladies Hand Bag For Women Stylish,₹233,₹99 discount on 1st order
9,New latest and trending black handbag combo fo...,₹365,₹100 discount on 1st order
10,Handbags,₹584,₹100 discount on 1st order
11,Graceful Stylish Women Handbags,₹2498,₹100 discount on 1st order
12,3piss jwellery kit / shaving kitt / makup kit,₹199,₹85 discount on 1st order
13,Women's Handbag in shoulder bag for women,₹293,₹100 discount on 1st order
14,New latest and voguish Maroon new design with ...,₹365,₹100 discount on 1st order
15,WOMAN HANDBAG,₹783,₹100 discount on 1st order
16,Brown color Exclusive and Stylish Handbag for ...,₹334,₹100 discount on 1st order
17,Handbag,₹440,₹100 discount on 1st order
18,Handbag,₹295,₹100 discount on 1st order

________________________________________________________________________________________________________

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    b) Top 10 ODI Batsmen along with the records of their team and rating.
    c) Top 10 ODI bowlers along with the records of their team and rating.

In [266]:
#################################################################################################
#  a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.  #
#################################################################################################

In [267]:
# defind a variable for link
url = r'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)


soup = bs(r.content, 'html.parser')

In [268]:
# create variable and use class of tr tag all teams data is in this class of tag
top_10_team = soup.find_all('tr',class_='table-body')
#using slicing after that extract text and split data

In [269]:
top_10_team[0].text.split('\n')

['', '2', '', '', 'England', 'ENG', '', '32', '3,793', '119', '']

In [270]:
top10_men_odi_teams = []#create blank list variable
top10_men_odi_teams_matches = []#create blank list variable
top10_men_odi_teams_points = []#create blank list variable
top10_men_odi_teams_ratin = []#create blank list variable

#for loop run 9 time because no.1 team not extract
for i in range(9): 
    ##using slicing and extract text then split data then add list
    top10_men_odi_teams.append(top_10_team[i].text.split('\n')[4])
    top10_men_odi_teams_matches.append(top_10_team[i].text.split('\n')[7])
    top10_men_odi_teams_points.append(top_10_team[i].text.split('\n')[8])
    top10_men_odi_teams_ratin.append(top_10_team[i].text.split('\n')[9])

In [271]:
team1 = soup.find_all('td')
team1

[<td class="rankings-block__banner--pos">1</td>,
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>,
 <td class="rankings-block__banner--matches">17</td>,
 <td class="rankings-block__banner--points">2,054</td>,
 <td class="rankings-block__banner--rating u-text-right">
                             121
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>,
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,793</td>,
 <td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">3,244</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,624</td>,
 <td class="table-body__cell u-text-right rating">113</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,459</td>,
 <td class="table-body__cell u-text-right rating">98</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">2,524</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,740</td>,
 <td class="table-body__cell u-text-right rating">91</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,523</td>,
 <td class="table-body__cell u-text-right rating">84</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">2,657</td>,
 <td class="table-body__cell u-text-right rating">83</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="u-hide-phablet">Afghanistan</span>
 <span class="u-show-phablet">AFG</span>
 </td>,
 <td class="table-body__cell u-center-text">17</td>,
 <td class="table-body__cell u-center-text">1,054</td>,
 <td class="table-body__cell u-text-right rating">62</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">11</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NED"></span>
 <span class="u-hide-phablet">Netherlands</span>
 <span class="u-show-phablet">NED</span>
 </td>,
 <td class="table-body__cell u-center-text">7</td>,
 <td class="table-body__cell u-center-text">336</td>,
 <td class="table-body__cell u-text-right rating">48</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">12</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">1,145</td>,
 <td class="table-body__cell u-text-right rating">46</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">13</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SCO"></span>
 <span class="u-hide-phablet">Scotland</span>
 <span class="u-show-phablet">SCO</span>
 </td>,
 <td class="table-body__cell u-center-text">10</td>,
 <td class="table-body__cell u-center-text">452</td>,
 <td class="table-body__cell u-text-right rating">45</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">14</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ZIM"></span>
 <span class="u-hide-phablet">Zimbabwe</span>
 <span class="u-show-phablet">ZIM</span>
 </td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">764</td>,
 <td class="table-body__cell u-text-right rating">38</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">15</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo OMA"></span>
 <span class="u-hide-phablet">Oman</span>
 <span class="u-show-phablet">OMA</span>
 </td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">524</td>,
 <td class="table-body__cell u-text-right rating">37</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">16</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NEP"></span>
 <span class="u-hide-phablet">Nepal</span>
 <span class="u-show-phablet">NEP</span>
 </td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">330</td>,
 <td class="table-body__cell u-text-right rating">30</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">17</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo UAE"></span>
 <span class="u-hide-phablet">UAE</span>
 <span class="u-show-phablet">UAE</span>
 </td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">190</td>,
 <td class="table-body__cell u-text-right rating">21</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">18</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo USA"></span>
 <span class="u-hide-phablet">United States</span>
 <span class="u-show-phablet">USA</span>
 </td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">232</td>,
 <td class="table-body__cell u-text-right rating">17</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">19</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NAM"></span>
 <span class="u-hide-phablet">Namibia</span>
 <span class="u-show-phablet">NAM</span>
 </td>,
 <td class="table-body__cell u-center-text">6</td>,
 <td class="table-body__cell u-center-text">97</td>,
 <td class="table-body__cell u-text-right rating">16</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">20</td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PNG"></span>
 <span class="u-hide-phablet">Papua New Guinea</span>
 <span class="u-show-phablet">PNG</span>
 </td>,
 <td class="table-body__cell u-center-text">13</td>,
 <td class="table-body__cell u-center-text">0</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [272]:
team1_name = team1[1].text.split('\n')[2]
team1_matches = team1[2].text.split('\n')[0]
team1_point = team1[3].text.split('\n')[0]
team1_rating = team1[4].text.split('\n')[1].strip()

In [273]:
# team1_point

In [274]:
top10_men_odi_teams.insert(0,team1_name)
top10_men_odi_teams_matches.insert(0,team1_matches)
top10_men_odi_teams_points.insert(0,team1_point)
top10_men_odi_teams_ratin.insert(0,team1_rating)

In [275]:
print('''#################################################################################################
#  a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.  #
#################################################################################################''')
print(f'\nTop 10 ODI teams in men- \n{top10_men_odi_teams}\n\nTop 10 ODI teams mathes- \n{top10_men_odi_teams_matches}\n\nTop 10 ODI teams points-\n{top10_men_odi_teams_points}\n\nTop 10 ODI teams ratings-\n{top10_men_odi_teams_ratin}')

#################################################################################################
#  a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.  #
#################################################################################################

Top 10 ODI teams in men-
['New Zealand', 'England', 'Australia', 'India', 'South Africa', 'Pakistan', 'Bangladesh', 'West Indies', 'Sri Lanka', 'Afghanistan']

Top 10 ODI teams mathes-
['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

Top 10 ODI teams points-
['2,054', '3,793', '3,244', '3,624', '2,459', '2,524', '2,740', '2,523', '2,657', '1,054']

Top 10 ODI teams ratings-
['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [276]:
#################################################################################################
#              b) Top 10 ODI Batsmen along with the records of their team and rating.           #
#################################################################################################

In [277]:
# defind a variable for link
url = r'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [278]:
# create variable and use class of tr tag all data  batsmen_data in tags
top_10_odi_batsmen_data = soup.find_all('tr',class_='table-body')
print(top_10_odi_batsmen_data[0].text.split('\n')[13])#batsmen
print(top_10_odi_batsmen_data[0].text.split('\n')[17])#batsmen_team
print(top_10_odi_batsmen_data[0].text.split('\n')[19])#batsmen_rating

Virat Kohli
IND
844

In [279]:
top_10_odi_batsmen = []#create variable
top_10_odi_batsmen_team = []#create variable
top_10_odi_batsmen_rating = []#create variable

#use for loop and run 9 time because no1 data no extraxt this tag
for i in range(9): 
    #using slicing and extract text then split data then add into list
    top_10_odi_batsmen.append(top_10_odi_batsmen_data[i].text.split('\n')[13])    
    top_10_odi_batsmen_team.append(top_10_odi_batsmen_data[i].text.split('\n')[17])
    top_10_odi_batsmen_rating.append(top_10_odi_batsmen_data[i].text.split('\n')[19])

In [280]:
# crate variable and use class of div tag
batsmen = soup.find_all('div',class_='rankings-block__banner--player-info')

#create variable and using clicing then extract text then split data
batsmen_name = batsmen[0].text.split('\n')[1]
batsmen_team = batsmen[0].text.split('\n')[4]
batsmen_team = batsmen[0].text.split('\n')[5]

In [281]:
top_10_odi_batsmen.insert(0,batsmen_name)#insert 1st batsman into list
top_10_odi_batsmen_team.insert(0,batsmen_team)#insert 1st batsman into list
top_10_odi_batsmen_rating.insert(0,batsmen_team)#insert 1st batsman into list

In [282]:
print('''#################################################################################################
#              b) Top 10 ODI Batsmen along with the records of their team and rating.           #
#################################################################################################''')
print(f'\nTop 10 ODI Teams Batsmen- \n{top_10_odi_batsmen}\n\nTop 10 ODI teams Batsmen Team- \n{top_10_odi_batsmen_team}\n\nTop 10 ODI teams Batsmen rating-\n{top_10_odi_batsmen_rating}')

#################################################################################################
#              b) Top 10 ODI Batsmen along with the records of their team and rating.           #
#################################################################################################

Top 10 ODI Teams Batsmen-
['Babar Azam', 'Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Jonny Bairstow', 'David Warner', 'Shai Hope', 'Kane Williamson', 'Quinton de Kock']

Top 10 ODI teams Batsmen Team-
['873', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'WI', 'NZ', 'SA']

Top 10 ODI teams Batsmen rating-
['873', '844', '813', '801', '779', '775', '762', '758', '754', '743']

In [283]:
#################################################################################################
#              c) Top 10 ODI bowlers along with the records of their team and rating.           #
#################################################################################################

In [284]:
# defind a variable for link
url = r'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [285]:
# create variable and use this class of tag 
data = soup.find_all('div',class_='u-negative-wrapper-tab uniform-grid touch-scroll-list--tablet')

In [286]:
#run for_loop and again find class of tag  
for i in data:
    #create variable and all bowers data extract using slicing
    odi_bowlers_data= i.find_all('div',class_='rankings-block__container')[1]

In [287]:
# create variable and use class of tr tag all data  bowler_data in tags
bowlers_data = odi_bowlers_data.find_all('tr',class_='table-body')

print(bowlers_data[0].text.split('\n')[13])#bowler
print(bowlers_data[0].text.split('\n')[17])#bowler_team
print(bowlers_data[0].text.split('\n')[19])#bowler_rating

Josh Hazlewood
AUS
709

In [288]:
top_10_odi_bowler = []#create variable
top_10_odi_bowler_team = []#create variable
top_10_odi_bowler_rating = []#create variable

#use for loop and run 9 time because no1 data no extraxt this tag
for i in range(9): 
    #using slicing and extract text then split data then add into list
    top_10_odi_bowler.append(bowlers_data[i].text.split('\n')[13])    
    top_10_odi_bowler_team.append(bowlers_data[i].text.split('\n')[17])
    top_10_odi_bowler_rating.append(bowlers_data[i].text.split('\n')[19])

In [289]:
# crate variable and use class of div tag
bowler = odi_bowlers_data.find_all('div',class_='rankings-block__banner--player-info')

#create variable and using clicing then extract text then split data
bowler_name = bowler[0].text.split('\n')[1]
bowler_team = bowler[0].text.split('\n')[4]
bowler_rating = bowler[0].text.split('\n')[5]

In [290]:
top_10_odi_bowler.insert(0,bowler_name)#insert 1st batsman into list
top_10_odi_bowler_team.insert(0,bowler_team)#insert 1st batsman into list
top_10_odi_bowler_rating.insert(0,bowler_rating)#insert 1st batsman into list

In [291]:
print('''#################################################################################################
#              c) Top 10 ODI bowlers along with the records of their team and rating.           #
#################################################################################################''')
print(f'\nTop 10 ODI Teams bowler- \n{top_10_odi_bowler}\n\nTop 10 ODI teams bowler Team- \n{top_10_odi_bowler_team}\n\nTop 10 ODI teams bowler rating-\n{top_10_odi_bowler_rating}')

#################################################################################################
#              c) Top 10 ODI bowlers along with the records of their team and rating.           #
#################################################################################################

Top 10 ODI Teams bowler-
['Trent Boult', 'Josh Hazlewood', 'Mujeeb Ur Rahman', 'Chris Woakes', 'Mehedi Hasan', 'Matt Henry', 'Jasprit Bumrah', 'Mitchell Starc', 'Shakib Al Hasan', 'Kagiso Rabada']

Top 10 ODI teams bowler Team-
['NZ', 'AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA']

Top 10 ODI teams bowler rating-
['737', '709', '708', '700', '692', '691', '679', '652', '650', '643']

_________________________________________________________________________________________________________________

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
    b) Top 10 women’s ODI Batting players along with the records of their team and rating.
    c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [292]:
###########################################################################################################
#     a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.       #
###########################################################################################################

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [293]:
# defind a variable for link
url = r'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
 
# defind a variable for get all data to variable
# using requests all html data to r
r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [294]:
# create a variable and use class of tag 
top10_women_teams = soup.find_all('div',class_='rankings-block__container full rankings-table')#create a variable and

In [295]:
# create a list variable and using slicing and extract text after that split data 
top10_women_teams_name = [top10_women_teams[0].find_all('tr',class_='rankings-block__banner')[0].text.split('\n')[4]]
top10_women_teams_matches = [top10_women_teams[0].find_all('tr',class_='rankings-block__banner')[0].text.split('\n')[7]]
top10_women_teams_points = [top10_women_teams[0].find_all('tr',class_='rankings-block__banner')[0].text.split('\n')[8]]
top10_women_teams_rating =[ top10_women_teams[0].find_all('tr',class_='rankings-block__banner')[0].text.split('\n')[10].strip()]

# print all list together 
print(f'{top10_women_teams_name} {top10_women_teams_matches} {top10_women_teams_points} {top10_women_teams_rating}')

['Australia'] ['17'] ['2,746'] ['162']

In [296]:
#run for_loop 10 times and extract data 
for i in range(10):
    #using slicing extract text after that split data then append data to list
    top10_women_teams_name.append(top10_women_teams[0].find_all('tr',class_='table-body')[i].text.split('\n')[4])#teams
    top10_women_teams_matches.append(top10_women_teams[0].find_all('tr',class_='table-body')[i].text.split('\n')[7])#matches
    top10_women_teams_points.append(top10_women_teams[0].find_all('tr',class_='table-body')[i].text.split('\n')[8])#poings
    top10_women_teams_rating.append(top10_women_teams[0].find_all('tr',class_='table-body')[i].text.split('\n')[9])#ratings

In [297]:
print('''###########################################################################################################
#     a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.       #
###########################################################################################################''')
print(f'\nTop 10 ODI teams in women- \n{top10_women_teams_name}\n\nTop 10 ODI teams mathes- \n{top10_men_odi_teams_matches}\n\nTop 10 ODI teams points-\n{top10_women_teams_points}\n\nTop 10 ODI teams ratings-\n{top10_women_teams_rating}')

###########################################################################################################
#     a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.       #
###########################################################################################################

Top 10 ODI teams in women-
['Australia', 'South Africa', 'England', 'India', 'Bangladesh', 'New Zealand', 'West Indies', 'Pakistan', 'Ireland', 'Sri Lanka', 'Zimbabwe']

Top 10 ODI teams mathes-
['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

Top 10 ODI teams points-
['2,746', '2,307', '2,148', '1,899', '475', '1,668', '1,658', '1,226', '240', '233', '0']

Top 10 ODI teams ratings-
['162', '121', '119', '112', '95', '88', '87', '68', '48', '47', '0']

In [298]:
###########################################################################################################
#          b) Top 10 women’s ODI Batting players along with the records of their team and rating.         #
###########################################################################################################

In [299]:
# defind a variable for link
url = r'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
 
# defind a variable for get all data to variable
# using requests all html data to r

r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [300]:
Batting_data = soup.find_all('div',class_='rankings-block__banner--player-info')
player_names = [Batting_data[0].text.split('\n')[1]]
player_teams_names=[Batting_data[0].text.split('\n')[4]]
player_teams_ratings=[Batting_data[0].text.split('\n')[5]]

# print all list together 
print(f'{player_names} {player_teams_names} {player_teams_ratings} ')

['Lizelle Lee'] ['SA'] ['761']

In [301]:
Batting_all_data = soup.find_all('tr',class_='table-body')

In [302]:
#use for loop run 9 times 
for i in range(9):
    
    #using slicing and extract text then split data then data append into list
    player_names.append(Batting_all_data[i].text.split('\n')[13])#players names
    player_teams_names.append(Batting_all_data[i].text.split('\n')[17])#teams names
    player_teams_ratings.append(Batting_all_data[i].text.split('\n')[19])#player rating

In [303]:
print('''###########################################################################################################
#          b) Top 10 women’s ODI Batting players along with the records of their team and rating.         #
###########################################################################################################''')
print(f'\nTop 10 Womens ODI Player  records of their team and rating ---- \nTop 10 ODI Teams womens- \n{player_names}\n\nTop 10 ODI Women player teams name - \n{player_teams_names}\n\nTop 10 ODI teams woman player rating-\n{player_teams_ratings}')

###########################################################################################################
#          b) Top 10 women’s ODI Batting players along with the records of their team and rating.         #
###########################################################################################################

Top 10 Womens ODI Player  records of their team and rating ----
Top 10 ODI Teams womens-
['Lizelle Lee', 'Alyssa Healy', 'Mithali Raj', 'Tammy Beaumont', 'Amy Satterthwaite', 'Smriti Mandhana', 'Meg Lanning', 'Beth Mooney', 'Stafanie Taylor', 'Heather Knight']

Top 10 ODI Women player teams name -
['SA', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

Top 10 ODI teams woman player rating-
['761', '750', '738', '728', '717', '710', '699', '690', '676', '674']

In [304]:
###########################################################################################################
#            c) Top 10 women’s ODI all-rounder along with the records of their team and rating.           #
###########################################################################################################

In [305]:
# defind a variable for link
url = r'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
 
# defind a variable for get all data to variable
# using requests all html data to r

r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [306]:
all_rounders_dat = soup.find_all('div',class_='u-negative-wrapper-tab uniform-grid touch-scroll-list--tablet')

In [307]:
#run for_loop and again find class of tag  
for i in all_rounders_dat:
    #create variable and all bowers data extract using slicing
    odi_all_rounders_data= i.find_all('div',class_='rankings-block__container')[2]

In [308]:
odi_all_rounders_data

<div class="rankings-block__container" data-cricket-role="all_round" data-cricket-scope="wodi" data-link-to="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder" data-page-size="10" data-player-rankings-card="" data-title="ODI All-Rounder Rankings">
<div class="rankings-block__banner">
<div class="rankings-block__title-container">
<div class="rankings-block__type t-wodi">wodi</div>
<h4>ODI All-Rounder Rankings</h4>
<div class="share share-- share--vertical share--small" data-widget="share">
<div class="share__container">
<div class="share__btn js-share-btn">
<svg class="icon"><use xlink:href="/resources/prod/v8.21.1/i/svg-output/icons.svg#icn-share" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
<div class="share__title">Share</div>
</div>
<ul class="share__list">
<li class="share__item share__item--facebook js-social-option" data-share-url="https://www.icc-cricket.comhttps://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder" data-social-service="facebook" role="button" tabindex="0">
<svg class="icon"><use xlink:href="/resources/prod/v8.21.1/i/svg-output/icons.svg#icn-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
</li>
<li class="share__item share__item--twitter js-social-option" data-share-url="https://www.icc-cricket.comhttps://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder" data-social-service="twitter" role="button" tabindex="0">
<svg class="icon"><use xlink:href="/resources/prod/v8.21.1/i/svg-output/icons.svg#icn-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
</li>
<li class="share__item share__item--messenger u-show-tablet js-social-option" data-share-url="https://www.icc-cricket.comhttps://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder" data-social-service="facebookMessenger" role="buttn" tabindex="0">
<svg class="icon"><use xlink:href="/resources/prod/v8.21.1/i/svg-output/icons.svg#icn-facebook-messenger" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
</li>
<li class="share__item share__item--whatsapp u-show-tablet js-social-option" data-share-url="https://www.icc-cricket.comhttps://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder" data-social-service="whatsapp" role="button" tabindex="0">
<svg class="icon"><use xlink:href="/resources/prod/v8.21.1/i/svg-output/icons.svg#icn-whatsapp" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
</li>
<li class="share__item share__item--url u-hide-tablet js-copy-button" data-share-url="https://www.icc-cricket.comhttps://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder" role="button" tabindex="0">
<svg class="icon"><use xlink:href="/resources/prod/v8.21.1/i/svg-output/icons.svg#icn-url" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
<div class="share__copy-message js-copy-message">URL Copied</div>
</li>
</ul>
</div>
</div>
</div>
<a class="rankings-block__banner-link" href="/rankings/womens/player-rankings/424">
<div class="rankings-block__top-player">
<div class="rankings-block__banner--pos">
<div class="rankings-block__pos-container">
<span class="rankings-block__pos-number">
                                1
                            </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</div>
<div class="rankings-block__banner--player-info">
<div class="rankings-block__banner--name">Marizanne Kapp</div>
<div class="rankings-block__banner--nationality">
<div class="flag-15 SA"></div>
<span class="rankings-block__banner--nation"></span>SA
<div class="rankings-block__banner--rating">384</div>
</div>
</div>
<div class="rankings-block__player-image-container">
<img alt="" class="rankings-block__player-image image-missing" data-error="true" data-player="424" data-size="130x150" data-widget="player-image" src="//resources.pulse.icc-cricket.com/players/130x150/Photo-Missing.png"/>
</div>
</div>
</a>
<span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</div>
<table class="table rankings-card-table">
<thead>
<tr class="table-head">
<th class="table-head__cell u-text-center">Pos</th>
<th class="table-head__cell">Player</th>
<th class="table-head__cell">Team</th>
<th class="table-head__cell u-text-right">Rating</th>
</tr>
</thead>
<tbody>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    2
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo ENG"></span>
<span class="table-body__logo-text">ENG</span>
</td>
<td class="table-body__cell u-text-right rating">372</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    3
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo AUS"></span>
<span class="table-body__logo-text">AUS</span>
</td>
<td class="table-body__cell u-text-right rating">365</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    4
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo WI"></span>
<span class="table-body__logo-text">WI</span>
</td>
<td class="table-body__cell u-text-right rating">319</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    5
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/3192">Deepti Sharma</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo IND"></span>
<span class="table-body__logo-text">IND</span>
</td>
<td class="table-body__cell u-text-right rating">299</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    6
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/4128">Ashleigh Gardner</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo AUS"></span>
<span class="table-body__logo-text">AUS</span>
</td>
<td class="table-body__cell u-text-right rating">275</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    7
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/430">Dane van Niekerk</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo SA"></span>
<span class="table-body__logo-text">SA</span>
</td>
<td class="table-body__cell u-text-right rating">274</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    8
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/3126">Hayley Matthews</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo WI"></span>
<span class="table-body__logo-text">WI</span>
</td>
<td class="table-body__cell u-text-right rating">272</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    9
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/468">Jess Jonassen</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo AUS"></span>
<span class="table-body__logo-text">AUS</span>
</td>
<td class="table-body__cell u-text-right rating">272</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
<div class="rankings-table__pos-container">
<span class="rankings-table__pos-number">
                                    10
                                </span>
<div class="ranking-pos no-change">
<span class="ranking-pos__no-change-line"></span>
<span class="ranking-pos__change-amount">(0)</span>
</div>
</div>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/547">Katherine Brunt</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo ENG"></span>
<span class="table-body__logo-text">ENG</span>
</td>
<td class="table-body__cell u-text-right rating">272</td>
</tr>
</tbody>
</table>
<div class="btn-wrapper">
<a class="btn" href="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder">Full Table</a>
</div>
</div>

In [309]:
# crate variable and use class of div tag
all_rounder = odi_all_rounders_data.find_all('div',class_='rankings-block__banner--player-info')

#create variable and using clicing then extract text then split data
all_rounder_name = [all_rounder[0].text.split('\n')[1]]
all_rounder_team_name = [all_rounder[0].text.split('\n')[4]]
all_rounder_rating = [all_rounder[0].text.split('\n')[5]]

In [310]:
# create variable and use class of tr tag all data  all_rounder_data in tags
all_rounders_data = odi_all_rounders_data.find_all('tr',class_='table-body')

print(all_rounders_data[0].text.split('\n')[13])#all_rounder
print(all_rounders_data[0].text.split('\n')[17])#all_rounder_team
print(all_rounders_data[0].text.split('\n')[19])#all_rounder_rating

Natalie Sciver
ENG
372

In [311]:
#use for_lopp run 9 times 
for i in range(9):
    #using slicing and extract text then splict text then append data into list
    all_rounder_name.append(all_rounders_data[i].text.split('\n')[13])#all_rounder_name
    all_rounder_team_name.append(all_rounders_data[i].text.split('\n')[17])#all_rounder_team
    all_rounder_rating.append(all_rounders_data[i].text.split('\n')[19])#all_rounder_rating

In [312]:
print('''###########################################################################################################
#            c) Top 10 women’s ODI all-rounder along with the records of their team and rating.           #
###########################################################################################################''')
print(f'\nTop 10 ODI Women all_rounder name- \n{all_rounder_name}\n\nTop 10 ODI  women all_rounder Teams name- \n{all_rounder_team_name}\n\nTop 10 ODI teams women all_rounder rating-\n{all_rounder_rating}')

###########################################################################################################
#            c) Top 10 women’s ODI all-rounder along with the records of their team and rating.           #
###########################################################################################################

Top 10 ODI Women all_rounder name-
['Marizanne Kapp', 'Natalie Sciver', 'Ellyse Perry', 'Stafanie Taylor', 'Deepti Sharma', 'Ashleigh Gardner', 'Dane van Niekerk', 'Hayley Matthews', 'Jess Jonassen', 'Katherine Brunt']

Top 10 ODI  women all_rounder Teams name-
['SA', 'ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'WI', 'AUS', 'ENG']

Top 10 ODI teams women all_rounder rating-
['384', '372', '365', '319', '299', '275', '274', '272', '272', '272']

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [313]:
# defind a variable for link
url = r'https://coreyms.com/'
 
# defind a variable for get all data to variable
# using requests all html data to r

r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [314]:
#create a variable and use class to tag all website data in this class of tag  
data = soup.find_all('div',class_='site-container')

In [315]:
#create a list varable 
all_heading = []
#use for_loop and run 6 times beacause 6 having tags in html
for i in range(1,7):
    all_heading.append(data[0].find_all(f'h{i}'))#using loop and heading tags all heading data append into list
print(all_heading)#Pring all hading data

[[<h1 class="site-title" itemprop="headline"><a href="https://coreyms.com/">CoreyMS</a></h1>], [<h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-tutorial-zip-files-creating-and-extracting-zip-archives" rel="bookmark">Python Tutorial: Zip Files – Creating and Extracting Zip Archives</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-data-science-tutorial-analyzing-the-2019-stack-overflow-developer-survey" rel="bookmark">Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-multiprocessing-tutorial-run-code-in-parallel-using-the-multiprocessing-module" rel="bookmark">Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-threading-tutorial-run-code-concurrently-using-the-threading-module" rel="bookmark">Python Threading Tutorial: Run Code Concurrently Using the Threading Module</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/general/update-2019-09-03" rel="bookmark">Update (2019-09-03)</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-quick-tip-the-difference-between-and-is-equality-vs-identity" rel="bookmark">Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/python-tutorial-calling-external-commands-using-the-subprocess-module" rel="bookmark">Python Tutorial: Calling External Commands Using the Subprocess Module</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/visual-studio-code-windows-setting-up-a-python-development-environment-and-complete-overview" rel="bookmark">Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/visual-studio-code-mac-setting-up-a-python-development-environment-and-complete-overview" rel="bookmark">Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview</a></h2>, <h2 class="entry-title" itemprop="headline"><a class="entry-title-link" href="https://coreyms.com/development/python/clarifying-the-issues-with-mutable-default-arguments" rel="bookmark">Clarifying the Issues with Mutable Default Arguments</a></h2>], [], [<h4 class="widget-title widgettitle">Main Contributor</h4>, <h4 style="margin-top: 25px; font-size: 17px;">Top Contributors (17)</h4>, <h4 class="widget-title widgettitle">Search CoreyMS.com</h4>, <h4 class="widget-title widgettitle">Subscribe to Future Posts</h4>, <h4 class="widget-title widgettitle">Recommended Books</h4>, <h4 class="widget-title widgettitle">Podcasts I Listen To</h4>], [], []]

In [316]:
headings = []#create blank list variable 
headings.append(all_heading[0][0].text)#using slicing extract text then append h1 heading data into list
print(headings)

['CoreyMS']

In [317]:
# for_loop run using slicing len
for i in range(len(all_heading[1])):
    headings.append(all_heading[1][i].text)#using slicing and extract h2 heading text then append into list
    
print(headings)

['CoreyMS', 'Python Tutorial: Zip Files – Creating and Extracting Zip Archives', 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey', 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module', 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module', 'Update (2019-09-03)', 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)', 'Python Tutorial: Calling External Commands Using the Subprocess Module', 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview', 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview', 'Clarifying the Issues with Mutable Default Arguments']

In [318]:
# for_loop run using slicing len
for i in range(len(all_heading[3])):
    headings.append(all_heading[3][i].text)#using slicing and extract h2 heading text then append into list

In [319]:
print('''########################
#   All heading   #
########################''')
print(f'\n{headings}')

########################
#   All heading   #
########################

['CoreyMS', 'Python Tutorial: Zip Files – Creating and Extracting Zip Archives', 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey', 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module', 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module', 'Update (2019-09-03)', 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)', 'Python Tutorial: Calling External Commands Using the Subprocess Module', 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview', 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview', 'Clarifying the Issues with Mutable Default Arguments', 'Main Contributor', 'Top Contributors (17)', 'Search CoreyMS.com', 'Subscribe to Future Posts', 'Recommended Books', 'Podcasts I Listen To']

In [320]:
# create variable 
all_date = soup.find_all('p',class_='entry-meta')#use class of p tag because all date data in this tags

In [321]:
date = []#create blank list variable

#for_loop run data len time
for i in range(0,len(all_date),2):
    #using slicing extract text and replace unnecessary text to blank and using stip remove unnecessary space 
    date.append(all_date[i].text.replace('by Corey Schafer Leave a Comment','').strip())

In [322]:
print('''########################
#       All date       #
########################''')
print(f'\n{date}')

########################
#       All date       #
########################

['November 19, 2019', 'October 17, 2019', 'September 21, 2019', 'September 12, 2019', 'September 3, 2019', 'August 6, 2019', 'July 24, 2019', 'May 1, 2019', 'May 1, 2019', 'April 24, 2019']

In [323]:
all_content = soup.find_all('div',class_='entry-content')
# all_content[0].text

In [324]:
content = []#create blank list variable
# run for_loop all_content len times
for i in range(len(all_content)):
    #using slicing and extract text then split data new line and then append into list
    content.append(all_content[i].text.split('\n')[1])

In [325]:
print('''########################
#      all content     #
########################''')
#loop run content len times    
for i in range(len(content)): 
    #final all content print new line 
    print(f'\n{content[i]}')

########################
#      all content     #
########################

In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…

In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…

In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…

In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…

Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube

In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…

In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…

In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…

In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…

In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…

In [326]:
# create variable 
all_link = soup.find_all('span',class_='embed-youtube')#use class of span tag all link in this tag 
print(all_link)

[<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/z0gguhEmWiY?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/_P7X8tMplsw?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/fKl2JW_qrso?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/IEEhzQoKtQU?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/mO_dS3rXDIs?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/-nh9rCzPJ20?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/06I63_p-2A4?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>, <span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/_JGmemuINww?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>]

In [327]:
# create blank list variable 
YouTub_link = []
# run for_loop all_link len times
for i in range(len(all_link)):
    YouTub_link.append(all_link[i].iframe['src'])#using slicing extract data then extract link using iframe 
print(YouTub_link)

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent', 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [328]:
print('''########################
#    All YouTub link   #
########################''')
#loop run YouTub_link len times    
for i in range(len(YouTub_link)): 
    #all YouTub_link print new line 
    print(f'\n{YouTub_link[i]}')

########################
#    All YouTub link   #
########################

https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent

# 9) Write a python program to scrape mentioned details from dineout.co.in :
    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

In [329]:
# defind a variable for link
url = r'https://www.dineout.co.in/delhi-restaurants/buffet-special'
 
# defind a variable for get all data to variable
# using requests all html data to r

r = requests.get(url)
soup = bs(r.content, 'html.parser')

In [330]:
restarrant_data = soup.find_all('div',class_='restaurant-info-section restnt-detail')
img_data = soup.find_all('div',class_='img-wrap')

In [331]:
Restaurant_name = []
Cuisine = []
Location = []
Ratings = []
Image_URL  = []

for i in range(len(restarrant_data)):
    Restaurant_name.append(restarrant_data[i].find_all('a')[0].text)  #name
    Cuisine.append(restarrant_data[i].find_all('div',class_='restnt-loc ellipsis')[0].text) #location
    Location.append(restarrant_data[i].find_all('span',class_='double-line-ellipsis')[0].text.split('|')[1]) #Cuisine
    Ratings.append(img_data[i].find_all('div',class_='restnt-rating rating-4')[0].text) #rating
    Image_URL.append(img_data[i].find_all('img',class_='no-img')[0]['data-src']) #image link

In [332]:
#####################
#  Restaurant name  #
#####################

In [333]:
print('''#####################
#  Restaurant name  #
#####################\n''')
#loop run Restaurant_name len times    
for i in range(len(Restaurant_name)): 
    #all Restaurant_name print new line 
    print(f'{Restaurant_name[i]}')

#####################
#  Restaurant name  #
#####################

Castle Barbeque
Jungle Jamboree
Castle Barbeque
Cafe Knosh
The Barbeque Company
India Grill
Delhi Barbeque
The Monarch - Bar Be Que Village
World Cafe
Indian Grill Room
Mad 4 Bar B Que
Barbeque 29
Glasshouse

In [334]:
#####################
#       Cuisine     #
#####################

In [335]:
print('''#####################
#       Cuisine     #
#####################\n''')
#loop run Restaurant_name len times    
for i in range(len(Cuisine)): 
    #all Cuisine print new line 
    print(f'{Cuisine[i]}')

#####################
#       Cuisine     #
#####################

Connaught Place, Central Delhi
3CS Mall,Lajpat Nagar - 3, South Delhi
Pacific Mall,Tagore Garden, West Delhi
The Leela Ambience Convention Hotel,Shahdara, East Delhi
Gardens Galleria,Sector 38A, Noida
Hilton Garden Inn,Saket, South Delhi
Taurus Sarovar Portico,Mahipalpur, South Delhi
Indirapuram Habitat Centre,Indirapuram, Ghaziabad
Vibe by The Lalit Traveller,Sector 35, Faridabad
Suncity Business Tower,Golf Course Road, Gurgaon
Sector 29, Faridabad
NIT, Faridabad
DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon

In [336]:
print('''#####################
#       Location    #
#####################\n''')
#loop run Location len times    
for i in range(len(Location)): 
    #all Location print new line 
    print(f'{Location[i]}')

#####################
#       Location    #
#####################

 Chinese, North Indian
 Barbecue, North Indian, Asian, Italian
 Chinese, North Indian
 Multi-Cuisine, North Indian, Italian, Continental, Mediterranean
 Barbecue, Chinese, Mughlai, North Indian
 North Indian, Italian, Oriental
 Barbecue, North Indian
 North Indian, Chinese, Fast Food
 North Indian, Chinese, Continental
 North Indian, Mughlai, Barbecue
 North Indian, Mughlai
 North Indian, Chinese, Barbecue
 Multi-Cuisine, Asian, European, Italian, North Indian

In [337]:
print('''#####################
#       Ratings     #
#####################\n''')
#loop run Ratings len times    
for i in range(len(Ratings)): 
    #all Ratings print new line 
    print(f'{Ratings[i]}')

#####################
#       Ratings     #
#####################

3.5
3.9
4
4.3
4.1
3.9
3.6
3.9
4.2
4.3
3.7
4.3
4.1

In [338]:
print('''#####################
#      Image URL    #
#####################\n''')
#loop run Image URL len times    
for i in range(len(Image_URL)): 
    #all Image URL print new line 
    print(f'{Image_URL[i]}')

#####################
#      Image URL    #
#####################

https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [339]:
# defind a variable for link
url = r'https://www.bewakoof.com/women-tshirts'
 
# defind a variable for get all data to variable

headers = {
    'cookie': 'isMember=false; abId=20; _gcl_au=1.1.1308352232.1640170998; _gid=GA1.2.137295808.1640170999; _scid=137c48c1-591c-404d-8c39-e731b7d5643e; WZRK_G=f619bde2abf9463d8ec1a31630997d96; _fbp=fb.1.1640170999014.661847040; _sctr=1|1640111400000; _uetsid=c4fabb80631611ec9e62a355225b0aa3; _uetvid=c4fb6cc0631611ecb2f685395d9f55a0; WZRK_S_8R9-845-Z84Z=%7B%22p%22%3A3%2C%22s%22%3A1640170998%2C%22t%22%3A1640171124%7D; _ga_H9S2VC0HED=GS1.1.1640170999.1.1.1640171124.0; _ga=GA1.1.1931754529.1640170999','if-none-match': 'W/"56251-P6SVmme8Yd70ku4FGUjrVaGz89Q"',
}

params = (
    ('ga_q', 'tshirts'),
)
# using requests all html data to r
r = requests.get('https://www.bewakoof.com/women-tshirts', headers=headers, params=params)


soup = bs(r.text, 'html.parser')

In [340]:
#create 3 blacnk variable
product_name = []
price = []
img_url = []
#for_loop run 10 times
for i in range(10):
    
    #using h3 tags then use slicing then extract text
    product_name.append(soup.find_all('h3')[i].text)#product name
    price.append(soup.find_all('span',class_='discountedPriceText')[i].text)#use b tags for extract b
    img_url.append(soup.find_all('div',class_='productCardBox')[i].find_all('img')[0]['src'])

In [341]:
print('''#####################
#    product name   #
#####################\n''')
#loop run product_name len times    
for i in range(len(product_name)): 
    #all product_name print new line 
    print(f'{product_name[i]}')

#####################
#    product name   #
#####################

Atma Nirbhar Men's Printed T-shirt
Chibi Harry Half Sleeve Printed T-shirt (HPL)
Matriarchy Begin Half Sleeve T-Shirt
Rare AF Half Sleeve Printed T-Shirt Black
Bugs On A Pocket Half Sleeve Printed T-Shirt(LTL)
Dil Hai Hindustani Women's Half Sleeve T-Shirt
Bunny Rabbit Pocket Printed Half Sleeve T-Shirt
Happiness Lost Half Sleeve  T-Shirt
Expensive Half Sleeve T-Shirt
Olive Night Half Sleeve T-Shirt

In [342]:
print('''#####################
#        price      #
#####################\n''')
#loop run price len times    
for i in range(len(price)): 
    #all price print new line 
    print(f'{price[i]}')

#####################
#        price      #
#####################

₹ 799
₹ 199
₹ 249
₹ 199
₹ 249
₹ 199
₹ 199
₹ 199
₹ 199
₹ 249

In [343]:
print('''#####################
#        image      #
#####################\n''')
#loop run img_url len times    
for i in range(len(img_url)): 
    #all img_url print new line 
    print(f'{img_url[i]}')

#####################
#        image      #
#####################

https://images.bewakoof.com/t320/atma-nirbhar-women-s-half-sleeve-printed-t-shirt-344077-1617387434.gif
https://images.bewakoof.com/t320/chibi-harry-hpl-women-s-half-sleeve-printed-t-shirt-363822-1622810796.jpg
https://images.bewakoof.com/t320/matriarchy-begin-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-273222-1584100973.jpg
https://images.bewakoof.com/t320/rare-af-half-sleeve-printed-t-shirt-black-women-s-half-sleeve-printed-t-shirt-327924-1611920853.jpg
https://images.bewakoof.com/t320/bugs-on-a-pocket-half-sleeve-printed-t-shirt-ltl-women-s-half-sleeve-printed-t-shirt-360415-1623825483.jpg
https://images.bewakoof.com/t320/dil-hai-hindustani-half-sleeve-printed-t-shirt-women-s-half-sleeve-printed-t-shirt-380221-1627554825.gif
https://images.bewakoof.com/t320/bunny-rabbit-pocket-women-s-half-sleeve-printed-t-shirt-364174-1623043098.jpg
https://images.bewakoof.com/t320/happiness-lost-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-374214-1625055420.jpg
https://images.bewakoof.com/t320/expensive-boyfriend-t-shirts-women-s-half-sleeve-printed-t-shirt-360805-1621936354.jpg
https://images.bewakoof.com/t320/olive-night-half-sleeve-t-shirt-women-s-half-sleeve-plain-t-shirt-354431-1621513329.jpg

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,Rajaji Nagar.

In [369]:
# defind a variable for link
url = r'https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d&radius=2.0&city=bangalore&locality=Indiranagar'
 
# defind a variable for get all data to variable
# using requests all html data to r

r = requests.get(url)
soup = bs(r.text, 'html.parser')

In [370]:
len(soup.find_all('div',id='listCardContainer')[0].find_all('h2'))

25

In [380]:
#Create 3 blank list variable 
house_title = []
location = []
area = []
emi = []
price = []

#for loop run class of tag times
for i in range(len(soup.find_all('div',id='listCardContainer')[0].find_all('h2'))):
    #using clicing then extract text then append into list
    house_title.append(soup.find_all('div',id='listCardContainer')[0].find_all('h2',class_='heading-6 font-semi-bold nb__25Cl7')[i].find_all('span')[0].text)
    location.append(soup.find_all('div',class_='nb__1EwQz')[i].text)
    area.append(soup.find_all('div',class_='nb__FfHqA')[i].text)
    emi.append(soup.find_all('div',id='roomType')[i].text.split('â¹')[1])
    price.append(soup.find_all('div',id='minDeposit')[i].find_all('span')[0].text.split('â\x82¹')[1])

In [381]:
print('''#################################################################################################
#                               house title, location,area, EMI and price                       #
#################################################################################################''')
print(f'\nHouse Ttitle- \n{house_title}\n\nLocation- \n{location}\n\nArea-\n{area}\n\nEMI-\n{emi}\n\nprice-\n{price}')

#################################################################################################
#                               house title, location,area, EMI and price                       #
#################################################################################################

House Ttitle-
['3 BHK Flat  For Sale  In Total Environment Life Is Beautiful, Jayanagar In Jayanagar', '3 BHK Flat  For Sale  In Beverly Apartments In Hal 2nd Stage, Indiranagar', '3 BHK Flat  For Sale  In Madhavaram Metropolitan In Jayanagar', '2 BHK Flat  For Sale  In Maple Apartments In Indiranagar', '4 BHK Flat  For Sale  In Rrbc Piccassso In Jayanagar', '3 BHK Flat  For Sale  In Rrbc Piccassso In Jayanagar', '4+ BHK In Independent House  For Sale  In Rajaji Nagar', '1 BHK Flat  For Sale  In Rajajinagar In Rajaji Nagar', '2 BHK Flat  For Sale  In Sri Sai Durga Residency In Indira Nagar', '3 BHK Apartment  For Sale  In Adarsh Court Apartment In Jayanagar', '3 BHK Flat  For Sale  In Mantri Gardens Apartment In Jayanagar', '4+ BHK In Independent House  For Sale  In Jayanagar', '4+ BHK In Independent House  For Sale  In Rajajinagar', '4+ BHK In Independent House  For Sale  In Rajajinaga ', '3 BHK Flat  For Sale  In Vaishali Residency In Indiranagar', '2 BHK Apartment  For Sale  In Benaka Towers In Hal 2nd Stage, Indiranagar', '1 BHK In Independent House  For Sale  In Rajaji Nagar', '3 BHK Flat  For Sale  In Livintique Residence In Indiranagar', '4 BHK Flat  For Sale  In Phoenix  One Bangalore West In Rajajinagar', '2 BHK Flat  For Sale  In Phoenix  One Bangalore West In Rajajinagar', '3 BHK Flat  For Sale  In Phoenix  One Bangalore West In Rajajinagar', '4+ BHK In Independent House  For Sale  In Banashankari', '2 BHK Apartment  For Sale  In Team Heritage Apartments In Indiranagar', '3 BHK In Independent House  For Sale  In Prakash Nagar, Rajaji Nagar', '4+ BHK Flat  For Sale  In Tilak Nagar, Jayanagar']

Location-
['30th Cross Rd, 4th T Block , Jayanagar, Bengaluru, Karnataka 560041, India', 'Road next to Manyavar showroom', 'Sagar Hospitals, 30th Cross Rd, Bannerughatta Approach Road Layout, 4th T Block East, Tilak Nagar, Jayanagar, Bengaluru, Karnataka, India', 'Maple Apartments, Michael Palaya, 4th B Cross, 80 Feet Rd, Kalyan Nagar, H Colony, Indiranagar, Bengaluru, Karnataka 560038, India', 'Municipal No.152, 18th main road, beside Sai Baba Temple, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560056, India', 'Municipal No.152, 18th main road, beside Sai Baba Temple, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560056, India', 'Independent House, 72 Cross, 12th Main Rd, RPA College, near chaitanya school ', '27th cross 2nd block rajajinagar,Behind Navrang park', 'Indira Nagar, Bangalore', 'Adarsh Court ApartmentÂ\xa0 Adarsh Court Apartment, 8th Cross Rd, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India', 'Mantri Gardens Apartment, Jayanagar 1st Block, Madhavan Park,, Bengaluru, Karnataka, 1st Block, Jaya Nagar East, Jayanagar, Bengaluru, Karnataka 560011, India', 'Independent House, 100ft Road, Ashoka Pillar Rd near Girias Jayanagar Branch', 'Independent House, Dr Rajkumar Rd Near Brigade Gateway,ganesh temple road', 'Independent House, 6th Cross Rd, 2nd Block  near  SMC Enclave ', 'Vaishali Residency, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008, India', 'Benaka TowersÂ\xa0 16th D Main Rd, HAL 2nd Stage, Kodihalli,', 'Independent House, Shiv nagar Rajajinagar, Near BASE PU College', '100 Feet Rd near Barbeque Nation', 'Dr Rajkumar Rd, opposite Sheraton Hotel, Rajajinagar', 'Dr Rajkumar Rd, opposite Sheraton Hotel, Rajajinagar', 'Dr Rajkumar Rd, opposite Sheraton Hotel, Rajajinagar', 'Independent House, 7th main road banashankri stage 2', 'Team Heritage ApartmentsÂ\xa0 Team Heritage Apartments, 13th main,, 2nd Cross Rd, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008, India', 'Independent House, Behind raj Kumar roadd, 1st cross, 9th main, Prakash Nagar, Bangalore ', 'Standalone Building, backside of L J Iyengar Bakery and Sweets Lj.iyengar.bakery.&.sweetsShop No. 161, Opp Rajiv Gandhi University, 32., Nd. E. Cross Road Jayanagar Bengaluru, Karnataka 560041 India near to Sanjay Gandhi Hospital,']

Area-
['2,628 sqft', '1,780 sqft', '1,455 sqft', '925 sqft', '4,859 sqft', '2,037 sqft', '1,350 sqft', '650 sqft', '1,500 sqft', '1,990 sqft', '1,485 sqft', '2,195 sqft', '3,600 sqft', '2,240 sqft', '1,300 sqft', '1,378 sqft', '650 sqft', '2,450 sqft', '2,901 sqft', '1,890 sqft', '1,914 sqft', '3,600 sqft', '1,100 sqft', '3,300 sqft', '2,000 sqft']

EMI-
['1.72 Lacs/Month', '91,703/Month', '44,705/Month', '37,254/Month', '3.91 Lacs/Month', '1.69 Lacs/Month', '1.96 Lacs/Month', '28,657/Month', '68,777/Month', '2.01 Lacs/Month', '94,568/Month', '3.09 Lacs/Month', '1.38 Lacs/Month', '83,679/Month', '65,911/Month', '56,168/Month', '24,072/Month', '2.01 Lacs/Month', '2.72 Lacs/Month', '1.82 Lacs/Month', '1.8 Lacs/Month', '3.15 Lacs/Month', '57,314/Month', '1.15 Lacs/Month', '45,278/Month']

price-
['3 Crores', '1.6 Crores', '78 Lacs', '65 Lacs', '6.83 Crores', '2.94 Crores', '3.42 Crores', '50 Lacs', '1.2 Crores', '3.5 Crores', '1.65 Crores', '5.4 Crores', '2.4 Crores', '1.46 Crores', '1.15 Crores', '98 Lacs', '42 Lacs', '3.5 Crores', '4.75 Crores', '3.18 Crores', '3.14 Crores', '5.5 Crores', '1 Crore', '2 Crores', '79 Lacs']