In [9]:
#import #  
import time
from selenium import webdriver
# import chrome in webdriver
from selenium.webdriver import Chrome
#import pandas 
import pandas as pd
#import selenium webdriver webdriver
from selenium.webdriver.common.keys import Keys as key
import warnings
warnings.filterwarnings('ignore')

# 1. Write a python program which searches all the product under a particular product from www.amazon.in.The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [138]:
#open web
url = r'https://www.amazon.in/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

# search guitar

In [139]:
#input guitar
doc.find_element_by_id('twotabsearchtextbox').send_keys('guitar')
# click search button
time.sleep(2)
doc.find_element_by_id('nav-search-submit-button').click()

In [24]:
URL = []
for r in range(3):
    urls=doc.find_elements_by_xpath("//a[@class='a-link-normal s-link-style a-text-normal']")#collecting urls of all the laptop
    for i in urls:
        URL.append(i.get_attribute('href'))
    
    #click next page
    doc.find_element_by_xpath('//span[@class="s-pagination-strip"]//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]').click()
    time.sleep(3)
    
# blank list variables   
product = []
price = []
brand = []
exchange = []
availability = []
delivery = []

for url in URL:##loop for every guitar in the list
    doc.get(url)
    time.sleep(2)
    try:
        product.append(doc.find_element_by_xpath('//span[@id="productTitle"]').text)
    except:
        product.append('-')
    try:
        try:
            price.append(doc.find_element_by_xpath('//td[@class="a-span12"]').text)
        except:
            price.append(doc.find_element_by_css_selector('span[class="a-price-whole"]').text)             
    except:
        price.append('-')
    try:
        brand.append(doc.find_element_by_xpath('//div[@class="a-section a-spacing-small a-spacing-top-small"]//span[@class="a-size-base"]').text)
    except:
        brand.append('-')
    try:
        exchange.append(doc.find_element_by_id('RETURNS_POLICY').text)
    except:
        exchange.append('-')
    try:
        availability.append(doc.find_element_by_id('availability').text)
    except:
        availability.append('-')
    try:
        delivery.append(doc.find_element_by_id('ddmDeliveryMessage').text)
    except:
        delivery.append('-')
    
print('successful scrap')

successful scrap

In [25]:
print
data = pd.DataFrame({"Brand Name":brand, "Name of the Product":product, "Price":price, "Return/Exchange":exchange, "Expected Delivery":delivery, "Availability":availability,"Product URL":URL})

In [26]:
# print first 5 raws
data.head()

,Brand Name,Name of the Product,Price,Return/Exchange,Expected Delivery,Availability,Product URL
0,Kadence,Kadence Frontier Jumbo Semi Acoustic Guitar Wi...,"₹6,499.00",7 Days Replacement,"FREE delivery: Friday, Jan 28 Details",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
1,Kadence,Kadence Frontier guitar with Online Guitar lea...,"₹4,749.00",7 Days Replacement,"FREE delivery: Friday, Jan 28 Details",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
2,Kadence,"Kadence Guitar Acoustica Series, Electric Acou...","₹6,499.00",7 Days Replacement,"FREE delivery: Friday, Jan 28 Details",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
3,medellin,"Medellin 38"" Acoustic Guitar Blue Burst Carbon...","₹2,299.00",7 Days Replacement,"FREE delivery: Thursday, Jan 27 Details\nFaste...",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
4,Juârez,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...","2,649",7 Days Replacement,"FREE delivery: Monday, Jan 24 Details\nFastest...",In stock.,https://www.amazon.in/Juarez-Acoustic-Cutaway-...

# 3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [8]:
#open web
url = r'https://images.google.com/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [10]:
#create image scrapinf function
def scrape_image(search):
    try:
        doc.find_element_by_css_selector('input[class="gLFyf gsfi"]').clear()
    except:
        doc.find_element_by_class_name('og3lId').clear()
    time.sleep(2)
    try:
        doc.find_element_by_css_selector('input[class="gLFyf gsfi"]').send_keys(search)
    except:
        doc.find_element_by_class_name('og3lId').send_keys(search)
    try:
        doc.find_element_by_class_name('zgAlFc').click()
    except:
        doc.find_element_by_class_name('XZ5MVe').click()
    time.sleep(2)

In [11]:
#create blank list variable
fruits=[]
#use function scrape 10 images
scrape_image('fruits')
for i in range(1,11):
    fruits.append(doc.find_element_by_xpath(f'//*[@id="islrg"]/div[1]/div[{i}]//img').get_attribute('src'))

In [12]:
cars=[]
#use function scrape 10 images
scrape_image('cars')
for i in range(1,11):
    cars.append(doc.find_element_by_xpath(f'//*[@id="islrg"]/div[1]/div[{i}]//img').get_attribute('src'))

In [13]:
Machine_Learning=[]
#use function scrape 10 images
scrape_image('Machine Learning')
for i in range(1,11):
    Machine_Learning.append(doc.find_element_by_xpath(f'//*[@id="islrg"]/div[1]/div[{i}]//img').get_attribute('src'))

In [14]:
Guitar=[]
#use function scrape 10 images
scrape_image('Guitar')
for i in range(1,11):
    Guitar.append(doc.find_element_by_xpath(f'//*[@id="islrg"]/div[1]/div[{i}]//img').get_attribute('src'))

In [15]:
Cakes=[]
#use function scrape 10 images
scrape_image('Cakes')
for i in range(1,11):
    Cakes.append(doc.find_element_by_xpath(f'//*[@id="islrg"]/div[1]/div[{i}]//img').get_attribute('src'))

In [16]:
pd.DataFrame({'fruits':fruits,'cars':cars,'Machine Learning':Machine_Learning,'Guitar':Guitar,'Cakes':Cakes})

,fruits,cars,Machine Learning,Guitar,Cakes
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

# 4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [38]:
#open web
url = r'https://www.flipkart.com/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()
time.sleep(5)
#cut login page
doc.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [39]:
#search Oneplus Nord
doc.find_element_by_css_selector('input[title="Search for products, brands and more"]').send_keys('Oneplus Nord')
time.sleep(2)# wait 2 sec
#click search button
doc.find_element_by_css_selector('button[type="submit"]').click()

In [184]:
#phones urls open
doc.get('https://www.flipkart.com/search?q=OnePlus%20Nord&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&bu=REFURBISHED')
time.sleep(3)

In [185]:

URL = []#blank list variable
for i in range(1,5):#loop run 10 time
    for p in range(1,5):#loop run 4 time
        try:
            URL.append(doc.find_element_by_xpath(f'//div[@class="_1AtVbE col-12-12"][{i}]//div[@class="_13oc-S"]//div[{p}]//a[@class="s1Q9rs"]').get_attribute('href'))
        except:
            continue
            
#create blank list variable
Brand=[]
Smartphone=[]
Colour=[]
RAM=[]
ROM=[]
Camera1=[]
Camera2=[]
Size=[]
Battery=[]
Price=[]

for i in URL:
    doc.get(i)
    time.sleep(2)
    Brand.append('Oneplus')
    try:
        Smartphone.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//h1').text)
    except:
        Smartphone.append('-')
    try:
        Colour.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//table[@class="_14cfVK"]//tr[4]//td[@class="URwL2w col col-9-12"]').text)
    except:
        Colour.append('-')
    try:
        RAM.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[2]').text.split('|')[0])
        ROM.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[2]').text.split('|')[1])
    except:
        RAM.append('-')
        ROM.append('-')
    try:
        Camera1.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[4]').text.split('|')[0])
        Camera2.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[4]').text.split('|')[1])
    except:
        Camera1.append('-')
        Camera2.append('-')
    try:
        Size.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[3]').text)
    except:
        Size.append('-')
    try:
        Battery.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[5]').text)
    except:
        Battery.append('-')
    try:
        Price.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_30jeq3 _16Jk6d"]').text)
    except:
        Price.append('-')
        
        
print('successful scrap')

successful scrap

In [187]:
print("")
Oneplus_Nord =pd.DataFrame({'Brand':Brand,'Smartphone':Smartphone,'Colour':Colour,'RAM':RAM,'ROM':ROM,'Primary Camera':Camera1,'Secondary Camera':Camera2,'Display Size':Size,'Battery':Battery,'Price':Price,'URL':URL})

In [195]:
# data to csv
Oneplus_Nord.to_csv('Oneplus Nord.csv',index=False)

In [192]:
#print starting 5 row
Oneplus_Nord.head()

,Brand,Smartphone,Colour,RAM,ROM,Primary Camera,Secondary Camera,Display Size,Battery,Price,URL
0,Oneplus,"(Refurbished) OnePlus Nord (Gray Onyx, 128 GB)...",Gray Onyx,8 GB RAM,128 GB ROM,48MP + 8MP Dual Rear Camera,32MP + 8MP Dual Front Camera,6.44 inch Full HD+ Display,4115 mAh Battery,"₹21,849",https://www.flipkart.com/refurbished-oneplus-n...
1,Oneplus,"(Refurbished) OnePlus Nord (Gray Onyx, 128 GB)...",Gray Onyx,8 GB RAM,128 GB ROM,48MP + 8MP Dual Rear Camera,32MP + 8MP Dual Front Camera,6.44 inch Full HD+ Display,4115 mAh Battery,"₹24,499",https://www.flipkart.com/refurbished-oneplus-n...
2,Oneplus,"(Refurbished) OnePlus Nord (Gray Onyx, 256 GB)...",Gray Onyx,12 GB RAM,256 GB ROM,48MP + 8MP Dual Rear Camera,32MP + 8MP Dual Front Camera,6.44 inch Full HD+ Display,4115 mAh Battery,"₹29,990",https://www.flipkart.com/refurbished-oneplus-n...
3,Oneplus,"(Refurbished) OnePlus Nord (Blue Marble, 128 G...",Blue Marble,8 GB RAM,128 GB ROM,48MP + 8MP Dual Rear Camera,32MP + 8MP Dual Front Camera,6.44 inch Full HD+ Display,4115 mAh Battery,"₹27,490",https://www.flipkart.com/refurbished-oneplus-n...
4,Oneplus,"(Refurbished) OnePlus Nord (Blue Marble, 256 G...",Blue Marble,12 GB RAM,256 GB ROM,48MP + 8MP Dual Rear Camera,32MP + 8MP Dual Front Camera,6.44 inch Full HD+ Display,4115 mAh Battery,"₹22,999",https://www.flipkart.com/refurbished-oneplus-n...

In [196]:
doc.get(url)
time.sleep(3)
#search Oneplus Nord
doc.find_element_by_css_selector('input[title="Search for products, brands and more"]').send_keys('pixel 4A')
time.sleep(2)# wait 2 sec
#click search button
doc.find_element_by_css_selector('button[type="submit"]').click()

In [197]:
#blank list variable
URL = []
for i in range(1,25):
    URL.append(doc.find_element_by_xpath(f'//div[@class="_1AtVbE col-12-12"][{i}]//a[@class="_1fQZEK"]').get_attribute('href'))

#create blank list variable
Brand=[]
Smartphone=[]
Colour=[]
RAM=[]
ROM=[]
Camera1=[]
Camera2=[]
Size=[]
Battery=[]
Price=[]

for i in URL:
    doc.get(i)
    time.sleep(2)
    try:
        Brand.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//tr[@class="_1s_Smc row"][3]//td[2]').text)
    except:
        Brand.append('-')
    try:
        Smartphone.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//span[@class="B_NuCI"]').text)
    except:
        Smartphone.append('-')
    try:
        Colour.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//tr[@class="_1s_Smc row"][4]//td[2]').text)
    except:
        Colour.append('-')
    try:
        RAM.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[1]').text.split('|')[0])
        ROM.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[1]').text.split('|')[1])
    except:
        RAM.append('-')
        ROM.append('-')
    try:
        Camera1.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[3]').text.split('|')[0])
    except:
        Camera1.append('-')
    try:
        Camera2.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[3]').text.split('|')[1])
    except:
        Camera2.append('-')    
    try:
        Size.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[2]').text)
    except:
        Size.append('-')
    try:
        Battery.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_1AtVbE col-6-12"]//li[4]').text)
    except:
        Battery.append('-')
    try:
        Price.append(doc.find_element_by_xpath('//div[@class="_1YokD2 _3Mn1Gg col-8-12"]//div[@class="_30jeq3 _16Jk6d"]').text)
    except:
        Price.append('-')
        
        
print('successful scrap')

successful scrap

In [200]:
pixel_4A = pd.DataFrame({'Brand':Brand,'Smartphone':Smartphone,'Colour':Colour,'RAM':RAM,'ROM':ROM,'Primary Camera':Camera1,'Secondary Camera':Camera2,'Display Size':Size,'Battery':Battery,'Price':Price,'URL':URL})

In [201]:
pixel_4A.to_csv('pixel 4A.csv',index=False)

In [203]:
#print first 5 row
pixel_4A.head()

,Brand,Smartphone,Colour,RAM,ROM,Primary Camera,Secondary Camera,Display Size,Battery,Price,URL
0,Pixel 4a,"Google Pixel 4a (Just Black, 128 GB) (6 GB RAM)",Just Black,6 GB RAM,128 GB ROM,12.2MP Rear Camera,8MP Front Camera,14.76 cm (5.81 inch) Full HD+ Display,3140 mAh Battery,"₹28,999",https://www.flipkart.com/google-pixel-4a-just-...
1,Galaxy M52 5G,"SAMSUNG Galaxy M52 5G (Blazing Black, 128 GB) ...",Blazing Black,6 GB RAM,128 GB ROM,64MP + 12MP + 5MP,32MP Front Camera,17.02 cm (6.7 inch) Full HD+ Display,5000 mAh Battery,"₹27,990",https://www.flipkart.com/samsung-galaxy-m52-5g...
2,Redmi 9,"Redmi 9 (Sporty Orange, 64 GB) (4 GB RAM)",Sporty Orange,4 GB RAM,64 GB ROM,13MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch) HD+ Display,5000 mAh Battery,"₹10,999",https://www.flipkart.com/redmi-9-sporty-orange...
3,Redmi 9,"Redmi 9 (Sky Blue, 64 GB) (4 GB RAM)",Sky Blue,4 GB RAM,64 GB ROM,13MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch) HD+ Display,5000 mAh Battery,"₹10,499",https://www.flipkart.com/redmi-9-sky-blue-64-g...
4,Redmi 9,"Redmi 9 (Carbon Black, 64 GB) (4 GB RAM)",Carbon Black,4 GB RAM,64 GB ROM,13MP + 2MP,5MP Front Camera,16.59 cm (6.53 inch) HD+ Display,5000 mAh Battery,"₹10,499",https://www.flipkart.com/redmi-9-carbon-black-...

# Q5 # Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps

In [234]:
#open web
url = r'https://www.google.com/maps/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [264]:
#enter city name 
city = str(input('Enter city name : '))
doc.find_element_by_css_selector('input[autofocus="autofocus"]').clear()#clear input value
time.sleep(1)
doc.find_element_by_css_selector('input[autofocus="autofocus"]').send_keys(city)#enter city name
time.sleep(2)
doc.find_element_by_xpath('//div[@class="xoLGzf-BIqFsb-haAclf"]').click()#click search button
time.sleep(4)
latitude_longitude=doc.current_url
#scrape latitude and longitude
latitude = latitude_longitude.split(f'https://www.google.com/maps/place/')[1].split('/')[1].split(',')[0][1:]
longitude = latitude_longitude.split(f'https://www.google.com/maps/place/')[1].split('/')[1].split(',')[1]
print(f'latitude : {latitude}\nlongitude : {longitude}')

Enter city name : ghaziabad
latitude : 19.0821978
longitude : 72.741099

# Q6 Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [265]:
#open web
url = r'https://trak.in/india-startup-funding-investment-2015/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [331]:
Sno = []
date=[]
name=[]
industry=[]
sub=[]
city=[]
investors=[]
investment=[]
usd=[]

# check row len
len_ = int(doc.find_element_by_id('tablepress-45_info').text.split(' of ')[1][:1])
# for loop run row times
for i in range(1,len_+1):
#     appendend row values
    Sno.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[1]').text)
    date.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[2]').text)
    name.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[3]').text)
    industry.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[4]').text)
    sub.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[5]').text)
    city.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[6]').text)
    investors.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[7]').text)
    investment.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[8]').text)
    usd.append(doc.find_element_by_xpath(f'//div[@id="tablepress-45_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[9]').text)

print('successful scrap')

successful scrap

In [337]:
quarter2_1= doc.find_element_by_xpath('//h2[@class="tablepress-table-name tablepress-table-name-id-45"]').text
print(f'second quarter Month {quarter2_1}')
#data frame
pd.DataFrame({'Sr No.':Sno,'Data':date,'Startup Name':name,'Industry Vertical':industry,'Sub Vertical':sub,'City Location':city,'investors Name':investors,'Investment Type':investment,'Amount(In USD)':usd})

second quarter Month April, 2020

,Sr No.,Data,Startup Name,Industry Vertical,Sub Vertical,City Location,investors Name,Investment Type,Amount(In USD)
0,1,09/04/2020,Vedantu,EduTech,Online Tutoring,Bengaluru,Legend Capital,Series C1,"12,560,000"
1,2,06/04/2020,Swiggy,Online Food Delivery,Online Food Delivery,Bengaluru,"Tencent, Ark Impact, Korea Investment Partners...",Series 1,"43,000,000"
2,3,08/04/2020,Zupee,Gaming,Gaming,Gurugram,"Matrix Partners India, Falcon Edge Capital, We...",Series A,"8,000,000"
3,4,07/04/2020,DeHaat,AgriTech,AgriTech,Patna,"Sequoia Capital India, FMO, Omnivore and AgFun...",Series A,"12,000,000"
4,5,15/04/2020,BigBasket,E-commerce,Online Grocery Delivery,Bengaluru,Alibaba Group,Debt Financing,"50,000,000"
5,6,08/04/2020,Fingerlix,Food Delivery,Ready-to-Cook Food,Mumbai,"Accel, Zephyr Peacock, Swiggy, and RB Investments",Series C,"1,800,000"
6,7,31/03/2020,Nykaa,E-commerce,Cosmetic and Beauty Products,Mumbai,Steadview Capital,Series F,"13,000,000"
7,8,02/04/2020,Recko,Digital Reconcilation and Financial Services,AI-powered Reconciliation of Digital Transactions,Bengaluru,Vertex Ventures Southeast Asia and India and P...,Series A,"6,000,000"

In [377]:
Sno = []
date=[]
name=[]
industry=[]
sub=[]
city=[]
investors=[]
investment=[]
usd=[]

# check row len
len_ = int(doc.find_element_by_id('tablepress-46_info').text.split(' of ')[1].split(' ')[0])
# for loop run row times
for i in range(1,len_+1):
#     appendend row values
    Sno.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[1]').text)
    date.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[2]').text)
    name.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[3]').text)
    industry.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[4]').text)
    sub.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[5]').text)
    city.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[6]').text)
    investors.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[7]').text)
    investment.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[8]').text)
    usd.append(doc.find_element_by_xpath(f'//div[@id="tablepress-46_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[9]').text)

print('successful scrap')

successful scrap

In [378]:
quarter2_1= doc.find_element_by_xpath('//h2[@class="tablepress-table-name tablepress-table-name-id-46"]').text
print(f'second quarter Month {quarter2_1}')
#data frame
pd.DataFrame({'Sr No.':Sno,'Data':date,'Startup Name':name,'Industry Vertical':industry,'Sub Vertical':sub,'City Location':city,'investors Name':investors,'Investment Type':investment,'Amount(In USD)':usd})

second quarter Month May, 2020

,Sr No.,Data,Startup Name,Industry Vertical,Sub Vertical,City Location,investors Name,Investment Type,Amount(In USD)
0,1,21/05/2020,leap.club,Professional Network for Women,Professional Network for Women,Gurugram,"Whiteboard Capital (Sandeep Tandon’s VC fund),...",Pre Seed,"340,000"
1,2,20/05/2020,Tring,Advertising,Celebrity Engagement Platform,Mumbai,"Tencent, Ark Impact, KoKalyan Krishnamurthy of...",Angel,NA
2,3,20/05/2020,Khatabook,Utility Solutions Provider,"Financial Services, Accounting, Payments.",Bangalore,"B Capital Group, Sequoia India, Partners of DS...",Series B,"60,000,000"
3,4,19/05/2020,Vakilsearch,LegalTech,Online professional services platform for lawy...,Chennai,"Udaan co-founder, Sujeet Kumar",Series A,NA
4,5,19/05/2020,Lendingkart,FinTech,"Financial Services, Lending, Micro Lending.",Ahmedabad,Fullerton Financial Holdings Pte Ltd (FFH) and...,Series D,"42,000,000"
5,6,21/05/2020,No Worry No Tension Healthcare (NWNT),Healthcare,Emotional health and mental health wellness,New Delhi,"Amit Burman, Chairman of Dabur India,",Pre Series A,NA
6,7,05/05/2020,Classplus,EduTech,"e-learning, education solutions.",Noida,"RTP Global, lume Ventures, Sequoia Capital Ind...",Series A,"9,000,000"
7,8,11/05/2020,Nykaa,E-commerce,Cosmetic and Beauty Products,Mumbai,Steadview Capital,Series F,"8,800,000"
8,9,13/05/2020,Magicpin,E-commerce,E-commerce,Gurugram,"Lightspeed Venture Partners, along with the pa...",Series C,"4,000,000"
9,10,18/05/2020,LetsTransport,Logistics Solution Provider,"Logistics, Transportation, Travel",Bangalore,InnoVen Capital,Venture - Series Unknown,"1,700,000"

In [379]:
Sno = []
date=[]
name=[]
industry=[]
sub=[]
city=[]
investors=[]
investment=[]
usd=[]

# check row len
len_ = int(doc.find_element_by_id('tablepress-47_info').text.split(' of ')[1].split(' ')[0])
# for loop run row times
for i in range(1,len_+1):
#     appendend row values
    Sno.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[1]').text)
    date.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[2]').text)
    name.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[3]').text)
    industry.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[4]').text)
    sub.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[5]').text)
    city.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[6]').text)
    investors.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[7]').text)
    investment.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[8]').text)
    usd.append(doc.find_element_by_xpath(f'//div[@id="tablepress-47_wrapper"]//tbody[@class="row-hover"]//tr[{i}]//td[9]').text)

print('successful scrap')

successful scrap

In [380]:
quarter2_1= doc.find_element_by_xpath('//h2[@class="tablepress-table-name tablepress-table-name-id-47"]').text
print(f'second quarter Month {quarter2_1}')
#data frame
pd.DataFrame({'Sr No.':Sno,'Data':date,'Startup Name':name,'Industry Vertical':industry,'Sub Vertical':sub,'City Location':city,'investors Name':investors,'Investment Type':investment,'Amount(In USD)':usd})

second quarter Month June, 2020

,Sr No.,Data,Startup Name,Industry Vertical,Sub Vertical,City Location,investors Name,Investment Type,Amount(In USD)
0,1,18/06/2020,Drishti Technologies,Technology,"Artificial Intelligence, Video Analytics",Mumbai,Sozo Ventures,Series B,"25,000,000"
1,2,17/06/2020,Stellaps,AgriTech,"Farming, Dairy Management Apps",Bangalore,Stride Ventures,Debt Financing,NA
2,3,17/06/2020,Peppermint,Industrial Robotics,Industrial Robotics,Mumbai,Venture Catalysts and Naveen Kshatriya,Seed,NA
3,4,16/06/2020,Jai Kisan,Rural FinTech,"AgriTech, Financial Services",Mumbai,Arkam Ventures and NABVENTURES Fund I,Pre-Series A,"3,934,941"
4,5,16/06/2020,Biomoneta,BioTech,"HealthTech, Biotechnology Research",Bangalore,"Beyond Next Ventures, ArthaVida Ventures and D...",Seed,NA
5,6,15/06/2020,Sai Estate Management and Skills Institute,EdTech,Education,Mumbai,Suniel Shetty,Angel,NA
6,7,15/06/2020,LetsTransport,Logistics Solution Provider,"Logistics, Transportation, Travel",Bangalore,Stride Ventures,Venture - Series Unknown,"1,311,647"
7,8,10/06/2020,WayCool Foods,AgriTech,Food and Beverage,Chennai,Indusland Bank,Series C,"5,500,000"
8,9,11/06/2020,Myelin Foundry,Deep Tech AI,Artificial Intelligence,Bangalore,Kris Gopalakrishnan’s family office — Pratithi.,Seed,"1,000,000"
9,10,10/06/2020,Hapramp,"Block Chain, Cryptocurrency","Block Chain, Cryptocurrency",Gurugram,Anand Mahindra,Seed,"1,000,000"

# 7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [381]:
#open web
url = r'https://www.digit.in/search/?keyword=best%20gaming%20laptops'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [390]:
#create blank list variable
URLS = []
for i in range(10):
    URLS.append(doc.find_element_by_xpath(f'//div[@class="searchPage"][{i+1}]//a').get_attribute('href'))

In [413]:
#create blank list variable
Product_name=[]
Market_Status=[]
Release_Date=[]
Official_Website=[]
price=[]

#loop run in urls len
for i in URLS:
    doc.get(i)#open url
    time.sleep(3)#wait 3 sec
    try:
        Product_name.append(doc.find_element_by_xpath('//div[@class="heading-wraper"]//h1').text)
    except:
        Product_name.append('-')
        
    try:
        Market_Status.append(doc.find_element_by_xpath('//div[@id="overview"]//div[@class="status_bar"]').text.split(':')[1].split('\n')[0])
    except:
        Market_Status.append('-')
        
    try:
        Release_Date.append(doc.find_element_by_xpath('//div[@id="overview"]//div[@class="status_bar"]').text.split(':')[2].split('\n')[0])
    except:
        Release_Date.append('-')
        
    try:
        Official_Website.append(doc.find_element_by_xpath('//div[@id="overview"]//div[@class="status_bar"]').text.split(':')[3].split('\n')[0])
    except:
        Official_Website.append('-')
        
    try:
        price.append(doc.find_element_by_xpath('//div[@id="overview"]//div[@class="price"]//strong').text)
    except:
        price.append('-')
    
print('successful scrap')

successful scrap

In [415]:
pd.DataFrame({'Product_name':Product_name,'Market_Status':Market_Status,'Release_Date':Release_Date,'Official_Website':Official_Website,'price':price,'URL':URLS})

,Product_name,Market_Status,Release_Date,Official_Website,price,URL
0,Asus G750JX-CV069P,LAUNCHED,"14 Oct, 2014",Asus,"₹ 149,999",https://www.digit.in/laptops/asus-g750jx-cv069...
1,Lenovo G50-30,LAUNCHED,"17 Mar, 2016",Lenovo,"₹ 25,694",https://www.digit.in/laptops/lenovo-g50-30-pri...
2,ASUS G53J - A 3D gamer's delight but we want more,LAUNCHED,"13 Jan, 2011",Asus,"₹ 112,499",https://www.digit.in/laptops/asus-g53j-a-3d-ga...
3,Dell Vostro 15 3500,LAUNCHED,"17 Mar, 2021",Dell,"₹ 38,489",https://www.digit.in/laptops/dell-vostro-15-35...
4,HP Envy 15-k006tx,LAUNCHED,"14 Oct, 2014",HP,"₹ 80,510",https://www.digit.in/laptops/hp-envy-15-k006tx...
5,Asus GTX980 Matrix Platinum,LAUNCHED,"30 Jan, 2015",Asus,"₹ 52,000",https://www.digit.in/pc-components/asus-gtx980...
6,Samsung Series 9 (NP-900X3C),DISCONTINUED,"01 Nov, 2012",Samsung,-,https://www.digit.in/laptops/samsung-series-9-...
7,HP Envy dv6-7206tx notebook,LAUNCHED,"23 Feb, 2013",HP,"₹ 65,705",https://www.digit.in/laptops/hp-envy-dv6-7206t...
8,Sony PlayStation Vita,LAUNCHED,"18 Feb, 2012",Sony,"₹ 24,990",https://www.digit.in/gaming/sony-playstation-v...
9,Lenovo IdeaPad Y570,LAUNCHED,"07 Feb, 2012",Lenovo,"₹ 49,900",https://www.digit.in/laptops/lenovo-ideapad-y5...

# Q8 Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [2]:
#open web
url = r'https://www.forbes.com/?sh=1b1300c92254'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [3]:
#Forbes World's Billionaires List
doc.get(f'https://www.forbes.com/billionaires/')

In [14]:
Rank=[]
Name=[]
Net_worth=[]
age=[]
Citizenship=[]
Source=[]
industry=[]
#use for no billionair
Rank.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="rank"]').text)
Name.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="personName"]').text)
Net_worth.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="netWorth"]').text)
age.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="age"]').text)
Citizenship.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="countryOfCitizenship"]').text)
Source.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="source"]').text)
industry.append(doc.find_element_by_xpath('//div[@class="table-row-group"]//div[@class="table-row expanded"]//div[@class="category"]').text)

#loop run 14 times
for i in range(14):
    for p in range(15):
        try:
            Rank.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="rank"]').text)
            Name.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="personName"]').text)
            Net_worth.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="netWorth"]').text)
            age.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="age"]').text)
            Citizenship.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="countryOfCitizenship"]').text)
            Source.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="source"]').text)
            industry.append(doc.find_element_by_xpath(f'//div[@class="table-row-group"][{i+1}]//div[@class="table-row "][{p+1}]//div[@class="category"]').text)
        except:
            continue #if error loop continue
            
print('successful scrap')

successful scrap

In [15]:
pd.DataFrame({'Rank':Rank,'Name':Name,'Net worth':Net_worth,'age':age,'Citizenship':Citizenship,'Source':Source,'industry':industry})

,Rank,Name,Net worth,age,Citizenship,Source,industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
195,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

# 9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [8]:
#open webpage in chrome
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get('https://www.youtube.com/watch?v=3gk3_EkVUUQ')
doc.maximize_window()

In [35]:
#create blank list variable
name = []
Comment = []
upvote = []
time_ = []

#use for page scroling
page = doc.find_element_by_tag_name('html')
for i in range(1,520):
    try:
        name.append(doc.find_element_by_xpath(f'//div[@id="contents"]//ytd-comment-thread-renderer[@class="style-scope ytd-item-section-renderer"][{i}]//span[@class="style-scope ytd-comment-renderer"]').text)
    except: 
        page.send_keys(key.END)#if error page scrole down
        while True:
            try:
                name.append(doc.find_element_by_xpath(f'//div[@id="contents"]//ytd-comment-thread-renderer[@class="style-scope ytd-item-section-renderer"][{i}]//span[@class="style-scope ytd-comment-renderer"]').text)
                break
            except:
                continue
    try:
        Comment.append(doc.find_element_by_xpath(f'//div[@id="contents"]//ytd-comment-thread-renderer[@class="style-scope ytd-item-section-renderer"][{i}]//yt-formatted-string[@id="content-text"]').text)
    except:
        Comment.append('-')
    try:
        upvote.append(doc.find_element_by_xpath(f'//div[@id="contents"]//ytd-comment-thread-renderer[@class="style-scope ytd-item-section-renderer"][{i}]//span[@id="vote-count-middle"]').text)
    except:
        upvote.append('-')
    try:
        time_.append(doc.find_element_by_xpath(f'//div[@id="contents"]//ytd-comment-thread-renderer[@class="style-scope ytd-item-section-renderer"][{i}]//yt-formatted-string[@class="published-time-text above-comment style-scope ytd-comment-renderer"]').text)
    except:
        time_.append('-')
        
print('successful scrap')

successful scrap

In [38]:
pd.DataFrame({'name':name,'Comment':Comment,'upvote':upvote,'time_':time_})

,name,Comment,upvote,time_
0,,सिर्फ किताबी ज्ञान नहीं जीवन जीना भी सीखते है ...,1.9K,10 days ago
1,Manash Chatterjee,अंतराष्ट्रीय मुद्दों को गांव की चौपाल सा सरल ब...,1.1K,10 days ago
2,,"सर आपके समझाने का तरीका बहुत ही अच्छा है,🙏🏻🙏🏻🙏...",805,10 days ago
3,Neeraj Chopra Official ꪜ,"""YouTube : life Changer""\n""Tiktok : Gender cha...",294,8 days ago
4,~kiddo,A teacher is one who taught us about life not ...,516,10 days ago
...,...,...,...,...
514,Vikrant Raj,I was laughing for 2 minutes in the sentence.....,,9 days ago
515,PrAn sHu,Important information 👍❣️,,6 days ago
516,Aditya gupta,Sir hum aapke dedication ko salaam karte hai a...,1,9 days ago
517,WOLF GAMING,What is the full form of IMF,,8 days ago
518,Shalini Dubey,खान सर आप एक सिर्फ एक शिक्षक ही नहीं बल्की आप ...,3,10 days ago

# 10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [30]:
#open webpage in chrome
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get('https://www.hostelworld.com/')
doc.maximize_window()

In [31]:
# Enter location
doc.find_element_by_id('location-text-input-field').click()
time.sleep(2)
doc.find_element_by_id('search-input-field').send_keys('London')
time.sleep(3)
doc.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[2]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]/div').click()
time.sleep(3)
#click let's go
doc.find_element_by_css_selector('button[id="search-button"]').click()

In [49]:
#blank list variable
URLS = []
hostel_name=[]
distance=[]
ratings=[]
total_reviews=[]
privates=[]
dorms=[]
facilities=[]
description=[]


#loop run 30 times
for i in range(1,31):
    try:
        URLS.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//h2[@class="title title-6"]//a').get_attribute('href'))
    except:
        URLS.append('-')
    
    try:
        hostel_name.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//h2[@class="title title-6"]//a').text)
    except:
        hostel_name.append('-')
    
    try:
        distance.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//span[@class="description"]').text)
    except:
        distance.append('-')
    
    try:
        ratings.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//div[@class="info"]//a').text.split('\n')[0])#rating
    except:
        ratings.append('-')
     
    try:
        total_reviews.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//div[@class="info"]//a').text.split('\n')[2])#Total review)
    except:
        total_reviews.append('-')
    
    try:
        privates.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//div[@class="price-col"]').text.split('Rs')[-1])#privates form
    except:
        privates.append('-')
                        
    try:
        dorms.append(doc.find_element_by_xpath(f'//div[@class="property-card"][{i}]//div[@class="price-col"][2]').text.split('Rs')[-1])#Dorms form)
    except:
        dorms.append('-')            
print('scrape successfully')

#scrape description and facilities
for i in URLS:
    doc.get(i)
    time.sleep(2)
    try:
        facilities.append(doc.find_element_by_xpath('//div[@class="facilities-container"]//ul[@class="facilities"]').text)
    except:
        facilities.append('-')
    
    try:
        description.append(doc.find_element_by_xpath('//div[@class="content collapse-content"]').text.replace('\n',' '))
    except:
        description.append('-')
        
print('scrape successfully')

scrape successfully
scrape successfully

In [50]:
print('Data for all available Hostels')
pd.DataFrame({'hostel_name':hostel_name,'distance from city centre':distance,'Ratings':ratings,'Total reviews':total_reviews,'privates from price':privates,' dorms from price':dorms,'facilities':facilities,'description':description})

Data for all available Hostels

,hostel_name,distance from city centre,Ratings,Total reviews,privates from price,dorms from price,facilities,description
0,Mornington Camden,Hostel - 4.1km from city centre,8.2,-,No Privates Available,3125,Linen Included Free City Maps Towels Included ...,Mornington Camden Hostel is a high class spaci...
1,Smart Russell Square Hostel,Hostel - 2.6km from city centre,6.7,9567 Total Reviews,10020,1101,Linen Included Free City Maps Free WiFi Free I...,"Nestled in the heart of London, walking distan..."
2,Smart Camden Inn Hostel,Hostel - 4.4km from city centre,8.5,2739 Total Reviews,4935,1234,Linen Included Free City Maps Free WiFi,"Located in the middle of Camden Town, we’re th..."
3,Selina Camden,Hostel - 5.5km from city centre,9.1,14 Total Reviews,12097,3213,Linen Included Towels Included Free WiFi,"Among underground music venues, innovative mus..."
4,Queen Elizabeth Chelsea,Hostel - 5.7km from city centre,7.5,3212 Total Reviews,3097,1468,Linen Included Free City Maps Free WiFi Free I...,PLEASE NOTE WE ONLY ACCEPT GUESTS FROM THE AGE...
5,Pickwick Hall,Hostel - 2.3km from city centre,9.0,2276 Total Reviews,6653,No Dorms Available,Free Breakfast Linen Included Free Internet Ac...,Pickwick Hall provides accommodation for touri...
6,New Cross Inn Hostel,Hostel - 6.1km from city centre,7.4,1055 Total Reviews,4267,1337,Free Breakfast Linen Included Free Parking Fre...,Welcome to New Cross Inn Hostel! A Friendly b...
7,No.8 Willesden Hostel London,Hostel - 10km from city centre,7.6,4645 Total Reviews,2414,768,Linen Included Free WiFi,At No.8 we take pride in our Customer Service ...
8,Safestay London Elephant & Castle,Hostel - 1.7km from city centre,8.0,4026 Total Reviews,7258,1814,Linen Included Free City Maps Free WiFi,Safestay at Elephant & Castle is ideal if you ...
9,Barmy Badger Backpackers,Hostel - 5.5km from city centre,9.3,1688 Total Reviews,6183,2285,Free Breakfast Linen Included Free City Maps F...,The Badger is unique for London in that we hav...
10,The London Home Hostel,Hostel - 8.2km from city centre,3.9,253 Total Reviews,5544,No Dorms Available,Linen Included Free WiFi Free Internet Access,If you are looking to meet and socialise with ...
11,No.8 Seven Sisters,Hostel - 9km from city centre,6.7,3684 Total Reviews,No Privates Available,734,Linen Included Free WiFi,"For Great Facilities, Comfort & Affordability ..."
12,Park Villa,Hostel - 6.3km from city centre,8.3,854 Total Reviews,6394,2920,Linen Included Free WiFi Free Internet Access,Park Villa is a new boutique hostel in the hea...
13,Astor Hyde Park,Hostel - 4.3km from city centre,8.5,11385 Total Reviews,No Privates Available,1613,Linen Included Free City Maps Free WiFi Free I...,Located in the most beautiful and charming nei...
14,Wombat's The City Hostel London,Hostel - 3.6km from city centre,8.8,13369 Total Reviews,6313,2179,Linen Included Free City Maps Towels Included ...,Wombat's The City Hostel London is definitely ...
15,Hootananny Hostel,Hostel - 5km from city centre,8.7,1426 Total Reviews,No Privates Available,1883,Free Breakfast Linen Included Free City Maps F...,Hootananny is a lively hostel with spacious ro...
16,St Christopher's Greenwich,Hostel - 7.6km from city centre,7.1,3155 Total Reviews,4700,1081,Linen Included Free City Maps Free WiFi Free I...,COVID 19 Policy Update. In response to Coronav...
17,St Christopher's Oasis-Female Only,Hostel - 1.8km from city centre,7.9,620 Total Reviews,5170,1333,Linen Included Free City Maps Towels Included ...,COVID 19 Policy Update. In response to Coronav...
18,St Christopher's Camden,Hostel - 4.3km from city centre,7.2,3731 Total Reviews,6177,1305,Linen Included Free City Maps Free WiFi Free I...,COVID 19 Policy Update. In response to Coronav...
19,St Christopher's Shepherds Bush,Hostel - 7km from city centre,8.3,641 Total Reviews,No Privates Available,1199,Linen Included Free City Maps Free WiFi,COVID 19 Policy Update. In response to Coronav...
20,St Christopher's Hammersmith,Hostel - 7.5km from city centre,7.6,3972 Total Reviews,4901,1125,Free Breakfast Linen Included Free City Maps F...,"In response to Coronavirus (COVID-19), additio..."
21,St Christopher's Inn - Liverpool Street,Hostel - 3.2km from city centre,8.5,374 Total Reviews,No Privates Available,1467,Linen Included Free City Maps Free WiFi,COVID 19 Policy Update. In response to Coronav...
22,St Christopher's Inn - London Bridge,Hostel - 1.8km from city centre,8.0,3254 Total Reviews,5506,1400,Linen Included Free City Maps Free WiFi Free I...,COVID 19 Policy Update. In response to Coronav...
23,"PubLove @ The White Ferry, Victoria",Hostel - 2.4km from city centre,8.4,188 Total Reviews,No Privates Available,1613,Linen Included Free City Maps Free WiFi,"Walk to the river, turn left, and just keep wa..."
24,Smart Hyde Park Inn Hostel,Hostel - 5km from city centre,6.8,6261 Total Reviews,7766,1131,Linen Included Free City Maps Free WiFi,"Hi everyone London visitor, I'm living at SMAR..."
25,Smart Hyde Park View Hostel,Hostel - 5km from city centre,7.7,4518 Total Reviews,4687,1161,Linen Included Free City Maps Free WiFi,"Everything was perfect...., very clean, perfec..."
26,Safestay London Kensington Holland Park,Hostel - 5.9km from city centre,8.2,1107 Total Reviews,5443,1996,Linen Included Free WiFi,Safestay Holland Park Safestay Holland Park i...
27,Urbany Hostel London,Hostel - 5.4km from city centre,9.6,187 Total Reviews,7332,1836,Linen Included Free WiFi,"Welcome to Urbany Hostel London, our first int..."
28,Astor Kensington,Hostel - 4.9km from city centre,7.3,6341 Total Reviews,4872,1478,Linen Included Free City Maps Free WiFi,"Located a short walk from Notting Hill, Hyde P..."
29,Phoenix Hostel,Hostel - 4.2km from city centre,7.8,3481 Total Reviews,3190,1456,Linen Included Free City Maps Free WiFi Free I...,*Please note we are operating on LIMITED recep...