In [1]:
#  import library
import time
from selenium import webdriver
# import chrome in webdriver
from selenium.webdriver import Chrome
#import pandas 
import pandas as pd
#import selenium webdriver webdriver
from selenium.webdriver.common.keys import Keys as key
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
    Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
    You need to find following details:
    A) Rank
    B) Name
    C) Artist
    D) Upload date
    E) Views

In [4]:
#open web
url = r'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [17]:
#reate blank list variable
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

#loop run 30 time
for i in range(1,31):
    #extract data and data append 
    Rank.append(doc.find_element_by_xpath(f'//table[@class="wikitable sortable jquery-tablesorter"]//tr[{i}]//td[1]').text)
    Name.append(doc.find_element_by_xpath(f'//table[@class="wikitable sortable jquery-tablesorter"]//tr[{i}]//td[2]').text)
    Artist.append(doc.find_element_by_xpath(f'//table[@class="wikitable sortable jquery-tablesorter"]//tr[{i}]//td[3]').text)
    Upload_date.append(doc.find_element_by_xpath(f'//table[@class="wikitable sortable jquery-tablesorter"]//tr[{i}]//td[5]').text)
    Views.append(doc.find_element_by_xpath(f'//table[@class="wikitable sortable jquery-tablesorter"]//tr[{i}]//td[4]').text)

In [20]:
#creat variable and make dataframe 
df = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload date':Upload_date,'Views':Views})
#check first 5 rows 
df.head()

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.18
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.74
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.16
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.61
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.41

# 2. Scrape the details team India’s international fixtures from bcci.tv.
    Url = https://www.bcci.tv/.
    You need to find following details:
    A) Match title (I.e. 1
    st ODI)
    B) Series
    C) Place
    D) Date
    E) Time1

In [2]:
#open web
url = r'https://www.bcci.tv/international/fixtures'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [16]:
#reate blank list variable
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#for loop run 8 time

for i in range(1,9):
    #data scarpe and append
    Match_title.append(doc.find_element_by_xpath(f'//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"][{i}]//div[@class="fix-place ng-binding ng-scope"]').text.split(',')[0])
    Series.append(doc.find_element_by_xpath(f'//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"][{i}]//span[@class="ng-binding"]').text)
    Place.append(doc.find_element_by_xpath(f'//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"][{i}]//div[@class="fix-place ng-binding ng-scope"]').text.split(',')[1])
    Date.append(doc.find_element_by_xpath(f'//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"][{i}]//h5[@class="ng-binding"]').text)
    Time.append(doc.find_element_by_xpath(f'//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"][{i}]//h5[@class="ng-binding"]').text)
print("scrape successfully")

scrape successfully

In [17]:
#data frame
data = pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
#check first five rows
data.head()

,Match_title,Series,Place,Date,Time
0,1st T20I - Eden Gardens,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Kolkata,16 FEB 2022,16 FEB 2022
1,3rd ODI - John Davies Oval,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,Queenstown,18 FEB 2022,18 FEB 2022
2,2nd T20I - Eden Gardens,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Kolkata,18 FEB 2022,18 FEB 2022
3,3rd T20I - Eden Gardens,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Kolkata,20 FEB 2022,20 FEB 2022
4,4th ODI - John Davies Oval,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,Queenstown,22 FEB 2022,22 FEB 2022

# 3. Scrape the details of selenium exception from guru99.com.
    Url = https://www.guru99.com/
    You need to find following details:
    A) Name
    B) Description
    Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [43]:
#open web
url = r'https://www.guru99.com/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [47]:
#click selenium
doc.find_element_by_xpath('//ul[@class="menu1"]//li[3]').click()
time.sleep(3)
# get href link selenium exception then open page
doc.get(doc.find_element_by_css_selector('a[title="Selenium Exception Handling (Common Exceptions List)"]').get_attribute('href'))

#create blank list variable
Name = []
Description = []

#create variable 
i = 2

#run while loop if data not match so loop break
while True:
    try:
        #scrape data and apped in list
        Name.append(doc.find_element_by_xpath(f'//table[@class="table table-striped"]//tr[{i}]//td[1]').text)
        Description.append(doc.find_element_by_xpath(f'//table[@class="table table-striped"]//tr[{i}]//td[2]').text)
        i+=1
    except:
        break
print("scrape successfully")

scrape successfully

In [46]:
#create data frmame
data = pd.DataFrame({'Name':Name,'Description':Description})
#check first five rows of data framke
data.head()

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
    Url = http://statisticstimes.com/
    You have to find following details:
    A) Rank
    B) State
    C) GSDP
    D) GSDP
    E) Share
    F) GDP($ billion)
    Note: - From statisticstimes home page you have to reach to economy page through code.

In [48]:
#open web
url = r'http://statisticstimes.com/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [79]:
#open india economy page
doc.get(doc.find_element_by_xpath('//div[@class="navbar"]//div[@class="dropdown"][2]//div[@class="dropdown-content"]//a[3]').get_attribute('href'))
time.sleep(3)
#gdp of indian states
doc.get(doc.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]//ul//li//a[1]').get_attribute('href'))

In [130]:
#create blank list variable
Rank =[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]
#create variable 
i = 1

#run while loop if data not match so loop break
while True:
    try:
        Rank.append(doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[1]').text)
        State.append(doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[2]').text)
        GSDP1.append(doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[3]').text+" | "+doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[4]').text)
        GSDP2.append(doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[7]').text+" | "+doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[8]').text)  
        Share.append(doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[5]').text)
        GDP.append(doc.find_element_by_xpath(f'//table[@id="table_id"]//tbody//tr[{i}]//td[6]').text)
        i+=1
    except:
        break
print("scrape successfully")

scrape successfully

In [132]:
#create data frmame
data = pd.DataFrame({'Rank':Rank,'State':State,'GSDP (Cr INR at Current prices)':GSDP1,'GSDP (Cr INR at 2011-12 prices)':GSDP2,'Share':Share,'GDP':GDP})
#check first five rows of data framke
data.head()

,Rank,State,GSDP (Cr INR at Current prices),GSDP (Cr INR at 2011-12 prices),Share,GDP
0,1,Maharashtra,"- | 2,632,792","- | 2,039,074",13.94%,399.921
1,2,Tamil Nadu,"1,845,853 | 1,630,208","1,312,929 | 1,215,307",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818 | 1,584,764","1,166,817 | 1,123,982",8.39%,240.726
3,4,Gujarat,"- | 1,502,899","- | 1,186,379",7.96%,228.290
4,5,Karnataka,"1,631,977 | 1,493,127","1,156,039 | 1,091,077",7.91%,226.806

# 5. Scrape the details of trending repositories on Github.com.
    Url = https://github.com/
    You have to find the following details:
    A) Repository title
    B) Repository description
    C) Contributors count
    D) Language used
    Note: - From the home page you have to click on the trending option from Explore menu through code.

In [47]:
#open web
url = r'https://github.com/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [48]:
#open trending
doc.get(doc.find_element_by_xpath('//ul[@class="d-lg-flex list-style-none"]//li[4]//ul[@class="list-style-none f5 pb-1"]//li[5]//a').get_attribute('href'))

In [49]:
# create blank list variable
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Contributors_url=[]
Language_used=[]

#create variable
i=1
# loop run condition true tiem
while True:
    try:
        Repository_title.append(doc.find_element_by_xpath(f'//article[@class="Box-row"][{i}]//h1').text)
        try:
            Repository_description.append(doc.find_element_by_xpath(f'//article[@class="Box-row"][{i}]//p').text)
        except:
            Repository_description.append('-')
        Contributors_url.append(doc.find_element_by_xpath(f'//div//article[@class="Box-row"][{i}]//h1[@class="h3 lh-condensed"]//a').get_attribute('href'))
        try:
            Language_used.append(doc.find_element_by_xpath(f'//div//article[@class="Box-row"][{i}]//div[@class="f6 color-fg-muted mt-2"]//span[@class="d-inline-block ml-0 mr-3"]').text)
        except:
            Language_used.append('-')
        i+=1
    except:
        #loop exit
        break
print("scrape successfully")

#loop run Contributors_url len
for i in Contributors_url:
    #open page url
    doc.get(i)
    time.sleep(2)
    try:
        #append data into list
        Contributors_count.append(doc.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]').text.split('Contributors')[1].split('\n')[0])     
    except:
        
        Contributors_count.append('-')
print("scrape successfully")

scrape successfully
scrape successfully

In [50]:
pd.DataFrame({'Repository title':Repository_title,'Repository_description':Repository_description,'Language_used':Language_used,'Contributors count':Contributors_count})

,Repository title,Repository_description,Language_used,Contributors count
0,mermaid-js / mermaid,Generation of diagram and flowchart from text ...,JavaScript,292
1,heiyeluren / XMM,XMM - X(eXtensible) Memory Manager（自研自主第三方Go内存...,Go,6
2,Azure / azure-rest-api-specs,The source for REST API specifications for Mic...,TypeScript,"2,277"
3,ethereumbook / ethereumbook,"Mastering Ethereum, by Andreas M. Antonopoulos...",JavaScript,232
4,cube0x0 / KrbRelay,Framework for Kerberos relaying,C#,-
5,penk / penkesu,Penkesu Computer - A Homebrew Retro-style Hand...,-,-
6,italiaremote / awesome-italia-remote,A list of remote-friendly or full-remote compa...,Go,31
7,novak-99 / MLPP,A library created to revitalize C++ as a machi...,C++,2
8,JonathanSalwan / VMProtect-devirtualization,Playing with the VMProtect software protection...,Roff,-
9,OffcierCia / DeFi-Developer-Road-Map,DeFi Developer roadmap is a curated Web3.0 Dev...,-,18
10,bilibili / ailab,-,Python,5
11,trickest / cve,Gather and update all available and newest CVE...,-,4
12,alan2207 / bulletproof-react,"🛡️ ⚛️ A simple, scalable, and powerful archite...",TypeScript,21
13,4ra1n / JavaSecInterview,打造最强的Java安全研究与安全开发面试题库，包含问题和详细的答案，帮助师傅们找到满意的工作,Python,-
14,felipefialho / frontend-challenges,💥 Listing some playful open-source's challenge...,-,72
15,pen4uin / bug-bounty,list of bug bounty writeups,-,-
16,AMAI-GmbH / AI-Expert-Roadmap,Roadmap to becoming an Artificial Intelligence...,JavaScript,9
17,dtm-php / dtm-client,A PHP coroutine client for distributed transac...,PHP,5
18,mqyqingfeng / Blog,冴羽写博客的地方，预计写四个系列：JavaScript深入系列、JavaScript专题系列...,-,2
19,qiurunze123 / miaosha,⭐⭐⭐⭐秒杀系统设计与实现.互联网工程师进阶与分析🙋🐓,Java,7
20,aws / aws-sdk-go,AWS SDK for the Go programming language.,Go,250
21,saadeghi / daisyui,⭐️ ⭐️ ⭐️ ⭐️ ⭐️ Tailwind Components,Svelte,25
22,NVlabs / instant-ngp,Instant neural graphics primitives: lightning ...,Cuda,7
23,NVlabs / tiny-cuda-nn,Lightning fast & tiny C++/CUDA neural network ...,C++,2
24,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,JavaScript,192

# 6. Scrape the details of top 100 songs on billiboard.com.
    Url = https:/www.billboard.com/
    You have to find the following details:
    A) Song name
    B) Artist name
    C) Last week rank
    D) Peak rank
    E) Weeks on board
    Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [58]:
#open web
url = r'https:/www.billboard.com'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [63]:
#click on the charts option
doc.find_element_by_xpath('//nav[@class="o-nav  "]//li[1]').click()
time.sleep(2)
#click on the hot 100-page
doc.find_element_by_xpath('//div[@class="lrv-u-flex lrv-u-background-color-white u-height-45"]//nav[@class="o-nav  "]//li[1]').click()

In [157]:
#blank list variable
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#create variable
i = 1

#loop run condition true time
while True:
    try:
        Song_name.append(doc.find_element_by_xpath(f'//div[@class="o-chart-results-list-row-container"][{i}]//li[@class="lrv-u-width-100p"]//li[1]//h3').text)
        Artist_name.append(doc.find_element_by_xpath(f'//div[@class="o-chart-results-list-row-container"][{i}]//li[@class="lrv-u-width-100p"]//li[1]//span').text)
        Last_week_rank.append(doc.find_element_by_xpath(f'//div[@class="o-chart-results-list-row-container"][{i}]//li[@class="lrv-u-width-100p"]//li[4]').text)
        Peak_rank.append(doc.find_element_by_xpath(f'//div[@class="o-chart-results-list-row-container"][{i}]//li[@class="lrv-u-width-100p"]//li[5]').text)
        Weeks_on_board.append(doc.find_element_by_xpath(f'//div[@class="o-chart-results-list-row-container"][{i}]//li[@class="lrv-u-width-100p"]//li[6]').text)
        #add value in variable
        i+=1
    except:
        #code exit
        break
print("scrape successfully")

scrape successfully

In [158]:
#create data frame
pd.DataFrame({'Song_name':Song_name,'Artist_name':Artist_name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,7
1,Do We Have A Problem?,Nicki Minaj X Lil Baby,-,2,1
2,Easy On Me,Adele,2,1,18
3,Heat Waves,Glass Animals,3,3,56
4,Stay,The Kid LAROI & Justin Bieber,4,1,31
...,...,...,...,...,...
95,Iffy,Chris Brown,87,71,4
96,When I'm Gone,Alesso / Katy Perry,-,97,1
97,Fair Trade,Drake Featuring Travis Scott,90,3,17
98,Megan's Piano,Megan Thee Stallion,97,97,2
99,Moth To A Flame,Swedish House Mafia & The Weeknd,-,27,8

# 7. Scrape the details of Data science recruiters from naukri.com.
    Url = https://www.naukri.com/
    You have to find the following details:
    A) Name
    B) Designation
    C) Company
    D) Skills they hire for
    E) Location
    Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
    click on search. All this should be done through code

In [2]:
#open web
url = r'https://www.naukri.com/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [31]:
#open jobs
doc.get(doc.find_element_by_xpath('//ul[@class="middle-menu menu"]//li[@class="mActive Jobs"]//a').get_attribute('href'))
time.sleep(3)
doc.get(doc.find_element_by_xpath('/html/body/div[1]/div/ul/li[2]/a').get_attribute('href'))

In [39]:
#click search button
doc.find_element_by_xpath('//div[@class="inpWrap"]//input[@name="qp"]').send_keys('Data Science')
time.sleep(2)
#click search button
doc.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [92]:
#blank list variable
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#create variable
i=1
#loop run condition ture time
while True:
    try:
        #append data into list
        Name.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fl fadeInUp"]//span[@class="fl ellipsis"]').text)
        Designation.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fl fadeInUp"]//span[@class="ellipsis clr"]').text)
        Company.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fl fadeInUp"]//a[2]').text)
        try:
            Location.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fl fadeInUp"]//small[@class="ellipsis"]').text)
        except:
            Location.append('-')
        try:
            Skills.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fl fadeInUp"]//div[@class="hireSec highlightable"]').text)
        except:
            Skills.append('-')
        Name.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fr fadeInUp"]//span[@class="fl ellipsis"]').text)
        Designation.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fr fadeInUp"]//span[@class="ellipsis clr"]').text)
        Company.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fr fadeInUp"]//a[2]').text)
        try:
            Location.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fr fadeInUp"]//small[@class="ellipsis"]').text)
        except:
            Location.append('-')
        try:
            Skills.append(doc.find_element_by_xpath(f'//div[@class="outerRecSec"][{i}]//div[@class="recSec fr fadeInUp"]//div[@class="hireSec highlightable"]').text)
        except:
            Skills.append('-')
        #add value 
        i+=1
    except:
        #exit loop
        break
print("scrape successfully")

scrape successfully

In [101]:
# create data frame
data = pd.DataFrame({'Name':Name,'Designation':Designation,'Company':Company,'Location':Location,'Skills':Skills})
#check first five rows
data.head()

,Name,Designation,Company,Location,Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."

# 8. Scrape the details of Highest selling novels.
    Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    You have to find the following details:
    A) Book name
    B) Author name
    C) Volumes sold
    D) Publisher
    E) Genre

In [53]:
#open web
url = r'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [60]:
#blank list variable
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

# create variable
i = 1
#loop run condition run time
while True:
    try:
        Book_name.append(doc.find_element_by_xpath(f'//table[@class="in-article sortable"]//tbody//tr[{i}]//td[2]').text)
        Author_name.append(doc.find_element_by_xpath(f'//table[@class="in-article sortable"]//tbody//tr[{i}]//td[3]').text)
        Volumes_sold.append(doc.find_element_by_xpath(f'//table[@class="in-article sortable"]//tbody//tr[{i}]//td[4]').text)
        Publisher.append(doc.find_element_by_xpath(f'//table[@class="in-article sortable"]//tbody//tr[{i}]//td[5]').text)
        Genre.append(doc.find_element_by_xpath(f'//table[@class="in-article sortable"]//tbody//tr[{i}]//td[6]').text)
        #add 1 value after adding data in list
        i+=1
    except:
            #exit loop 
        break
print("scrape successfully")

scrape successfully

In [61]:
#create data frame
pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
    Url = https://www.imdb.com/list/ls095964455/
    You have to find the following details:
    A) Name
    B) Year span
    C) Genre
    D) Run time
    E) Ratings
    F) Votes

In [62]:
#open web
url = r'https://www.imdb.com/list/ls095964455/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [82]:
#blank list variable
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# create variable
i = 1

#loop run condition run time
while True:
    try:
        Name.append(doc.find_element_by_xpath(f'//div[@class="lister-item mode-detail"][{i}]//h3//a').text)
        Year_span.append(doc.find_element_by_xpath(f'//div[@class="lister-item mode-detail"][{i}]//h3//span[@class="lister-item-year text-muted unbold"]').text)
        Genre.append(doc.find_element_by_xpath(f'//div[@class="lister-item mode-detail"][{i}]//p//span[@class="genre"]').text)
        Run_time.append(doc.find_element_by_xpath(f'//div[@class="lister-item mode-detail"][{i}]//p//span[@class="runtime"]').text)
        Ratings.append(doc.find_element_by_xpath(f'//div[@class="lister-item mode-detail"][{i}]//span[@class="ipl-rating-star__rating"]').text)
        Votes.append(doc.find_element_by_xpath(f'//div[@class="lister-item mode-detail"][{i}]//span[@name="nv"]').text)
        #add 1 value after adding data in list
        i+=1
    except:
        #exit loop
        break
print("scrape successfully")

scrape successfully

In [83]:
#create dataframe
pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Ratings':Ratings,'Votes':Votes})

,Name,Year_span,Genre,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"1,952,827"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"963,472"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"929,957"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"278,559"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"238,758"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",7.5,"47,681"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"58,416"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,"185,132"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"39,142"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"221,292"

# 10. Details of Datasets from UCI machine learning repositories.
    Url = https://archive.ics.uci.edu/
    You have to find the following details:
    A) Dataset name
    B) Data type
    C) Task
    D) Attribute type
    E) No of instances
    F) No of attribute
    G) Year
    Note: - from the home page you have to go to the ShowAllDataset page through code.

In [3]:
#open web
url = r'https://archive.ics.uci.edu/'
doc = webdriver.Chrome(executable_path='chromedriver.exe')
doc.get(url)
doc.maximize_window()

In [4]:
#click view all dataset
doc.find_element_by_xpath('//span[@class="whitetext"][2]//a[1]').click()
time.sleep(2)

##blank list variable
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#create variable
i = 1

#loop run condition true time
while True:
    try:
        #append data into list
        Dataset_name.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[1]').text)
        Data_type.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[2]').text)
        Task.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[3]').text)
        Attribute_type.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[4]').text)
        No_of_instances.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[5]').text)
        No_of_attribute.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[6]').text)
        Year.append(doc.find_element_by_css_selector('table[cellpadding="3"]').find_element_by_xpath(f'//td[2]//tr[{i}]//td[7]').text)
        #add 1 value
        i+=1
    except:
        #break code
        break

print("scrape successfully")

scrape successfully

In [8]:
#create DataFrame
pd.DataFrame({'Dataset name':Dataset_name,'Data type':Data_type,'Task':Task,'Attribute type':Attribute_type,'No of instances':No_of_instances,'No of attribute':No_of_attribute,'Year':Year})

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,622 Data Sets,Table View List View,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Turkish Music Emotion Dataset,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,Maternal Health Risk Data Set,Classification,,1014,7,2020
621,Room Occupancy Estimation,Room Occupancy Estimation,Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Image Recognition Task Execution Times in Mobi...,Regression,Real,4000,2,2021